[2016-10-20 13:24] rgrp opened #1 "[spec] API specification"
API specification
## Information Architecture

[code]
## API Root

The root endpoint will be `/` at:

`http://api.{main-domain}/`
## API Versioning

The API will be versioned at using a base url like `v1` or `v2`.

`/` is an alias to the current version of the API and should redirect or be served directly (tbd).
## Authentication

See general auth docs.
## Package API
### READ

GET `/package/{id}`

[2016-10-25 16:28] rgrp opened #2 "[super] API for Publish"
- [x] Auth token generator - `/api/auth/token` #3
- [x] Create / update datapackage with new metadata `POST /api/package/{publisher}/{package}` #4 (data now in BitStore)
  - [x] Ingest from BitStore to MetaStore (not API but internal event logic) #8
- [x] Authorize file upload to BitStore `POST /api/auth/bitstore_upload`. #5
- [x]  TODO: ?? - really not sure about this `POST /api/package/{publishe

[2016-10-25 17:18] rgrp opened #3 "[publish] Auth token generator for publisher"
`POST /api/auth/token`

Hand out session token given correct username + p/w

Returns:

[code]

[2016-10-25 17:20] rgrp opened #4 "[publish] Create new data package from metadata"
`POST /api/package/{publisher}/{package}`

Create / update data package with new metadata

Parameters:
- Data Package metadata (`datapackage.json`)
- Auth info

Returns:

[code]

Tasks
- [x] Test for all of this
- [x] Auth: check token
- [x] Validate this data package and fail if wrong
  - [x] Validate the user id (from token) and user name to validate user
- [x] Store data into S3

[2016-10-25 17:22] subhankarb opened #5 "[publish] Authorize file upload to BitStore"
`POST /api/auth/bitstore_upload`

POST file info and receive signed upload auth to S3
- [x] Parameters: package info: `publisher`, `package`
- [x] File parameters:
    - [x] (relative)  path,
    - [x] md5 hash ...
- [x] ensure path is *not* `datapackage.json` (we do not want users uploading their datapackage.json directly as we want to validate it)
- [x] Returns: s3 signature for uploading direct

[2016-10-25 17:44] rgrp opened #6 "[super] Signup Flow"
- [x] Sign up button in frontend - main page and navbar
- [x] Register basic identity - **external: auth0**
  - [x] Verify identity - **external: auth0**
- [x] Complete profile: username, full name (**external: auth0**)
- [x] Local "on new user" actions: Handle callback from external auth provider and perform "on new user" actions #9
  - [x] Create user object in local DB
  - [x] Create secret key

[2016-10-25 17:45] rgrp opened #7 "[super] Sign in flow"
- [x] Sign in button on main page and in navbar
- [x] Hand off to external auth provider
- [x] Handle return and issue token
- [x] Redirect to dashboard (or page they came from?)

[2016-10-25 17:49] subhankarb opened #8 "[publish] Ingest from BitStore to MetaStore (not API but internal event logic)"
- [x] May be use lambda to poll data from s3 to RDS ??

[2016-10-25 17:52] rgrp opened #9 "[signup] Local "on new user" actions"
Handle callback from external auth provider and perform "on new user" actions
- [x] Create user object in local DB
- [x] Generate user secret for user in CLI etc
- [x] Create publisher and associate user as owner - #66 plus create as part of signup
  - Publisher created with name of the user name
  - Association created with role 'owner'
- [x] Issue them a token so they are signed in

[2016-10-25 17:53] rgrp opened #10 "[signup] Send welcome email"
TODO: welcome email template.

[2016-10-25 17:54] rgrp opened #11 "[signup] Test end to end"
Test end to end with mocking of external provider parts

- Start at moment where callback from auth provider to our app
- Check local on user stuff
- Check we get redirected to dashboard

[2016-10-26 08:08] rgrp commented on #4
@subhankarb can you fill in sections re parameters and success / failure results.

[2016-10-26 08:41] subhankarb commented on #4
@rgrp  ```{"url": "url to data package"} ``` [really needed as user get this through api]???

[2016-10-26 15:02] rgrp commented on #4
@subhankarb hmmm i guess i was thinking the actual API should be:

[code]

Which would be more classic style - but leave us to decode the publisher and package name from the posted JSON. So I guess you are right for now and that means we should correct to have empty return info.

[2016-10-26 16:10] rgrp opened #14 "Set up CI (Travis) for this repo"

[2016-10-26 16:10] rgrp commented on #14
FIXED yesterday by @subhankarb - see https://travis-ci.org/frictionlessdata/dpr-api

[2016-10-26 16:10] #14 closed

[2016-10-26 16:23] rufuspollock opened #15 "[publish] Test end to end"
- [x] Get a token using username + secret
- [x] Post metadata -> success
- [x] Get s3 upload for a data file
- [x] post data file => success

[2016-10-27 14:29] Fak3 commented on #5
@rgrp What do we need md5 hash for? If it is to generate unique s3 key for a resource - can the server itself just hash the publisher_name+datapackage_name+resource_path?

[2016-10-27 16:21] Fak3 opened #20 "Server crashed on receiving invalid json at /api/jwt"
POSTing invalid json to /api/jwt results in a crash:

[code]

[2016-10-27 21:28] Fak3 opened #22 "Crash on login: MissingSchema Invalid URL 'Noneusers/auth0|581271043ac3966f6e37fdad'"
When i signup with email and password on auth0 i get this error from dpr-api server:

[code]

[2016-10-28 09:05] rgrp commented on #5
@Fak3 IIRC the S3 request signing requires the md5 stuff as part of it. We should maybe check the boto docs. In general, including the md5 hash is good practice to ensure that a user did not upload something other than what was authorized for upload. Here that might not be so relevant since we assume user will have authorization to upload anything they like. However, it would still be good practic

[2016-10-28 10:19] pwalsh commented on #5
It is part of the authorisation of the S3 service itself - you give a user a temp url for upload, and that URL knows the hash of the file to be uploaded, and thereby ensures that what is uploaded is actually what was authorised.

That example from the old os-cli code that @rgrp shared somewhere here or in Gitter should show the whole flow if you set a trace and step through with `ipdb` or somethin

[2016-10-28 12:31] Fak3 commented on #5
The hash is optional, not a requirement. We can generate upload url without it:
[code]
So do we need it an go the same way as os-conductor? I thought we can relieve

[2016-10-28 12:39] pwalsh commented on #5
@Fak3 up to @rgrp but if you don't do this, it means someone can do:

1. Give me permission to upload `good.csv`
2. Now I'll upload `bad.js`

Now obviously a whole bunch of other things should happen with uploading - checking the path of files (they are in the datapackage for example), and maybe also checking format and size (do we accept 4GB CSV files?, do we accept `.js` extensions?), but a basi

[2016-10-28 13:06] Fak3 commented on #5
@pwalsh the hash won't prevent user from uploading bad.js if he gave us hash of bad.js in the first place. He gives us hash of something, and uploads it, and we have no idea of what that is until he finishes the upload. It seems to me that the whole point of "what you asked permission to upload" exists when we can make some checks of the thing being uploaded beforehand.

The size limit looks usefu

[2016-10-28 13:33] pwalsh commented on #5
ok, last comment:

1. I know it won't prevent uploading bad.js if that was the original file requested for upload
2. You need to do checks on client and server anyway, this is just one of many such checks
3. hashing also helps ensure data integrity
4. if you do *validation* client side, and then hash your payloads, then you don't have to do it server side - huge win for compute resource management

[2016-10-28 14:21] Fak3 commented on #5
Well, the whole trust and abuse topic is not documented or even thought out atm.

[2016-10-31 13:31] Fak3 opened #24 "Can't get token from /api/auth/token - check for secret fails"
Posting username and password (as secret) to /api/auth/token always fails.
Password is checked to be equal to the 'secret' field in the database. This field always has value of 'supersecret' instead of real password, hence the check fails.

[2016-10-31 13:40] Fak3 opened #25 "Fail early or warn user when required env vars unset or invalid on server start"
It would be much easier to setup the server if it would notify you when some required env var or setting is invalid or missing. Right now server quietly starts and will only spit out errors on you later when vaiables are used in requests processing.

[2016-11-01 13:48] subhankarb commented on #24
@Fak3 from command line we are not supposed to use password. If we start using google oauth, then password is not a valid option. That's why we supposed to generate a secret key while the user register and pass that secret key and username while connecting from CLI.
From UI it is not valid as we can route to google directly.

[2016-11-01 15:45] Fak3 commented on #22
This happens when AUTH0_API_AUDIENCE is not set in the environment. Related: #25

[2016-11-01 20:01] Fak3 commented on #5
When client uploads resource file to the url returned, it will overwrite datapackage.json created on the first step (metadata upload). This does not makes sense. Istead the server should create url pointing to some temporary key in the bucket and return it. After the client uploads all resource files, it will send finalization request. On the finalization request server should validate all the dat

[2016-11-01 20:36] Fak3 commented on #24
@subhankarb from the past discussions with @rgrp he insisted to use password in dpm client. But personally I think that we'd better generate eternal tokens or just API-secret-keys, like amazon does, or even use private-public keypairs like github (and heroku?)

[2016-11-01 21:03] Fak3 opened #27 "POST /api/auth/token ValueError: View function did not return a response"
When some invalid secret is submitted to POST /api/auth/token, the server throws error and returns empty 500 response. It should return authorization error instead.
[code]

[2016-11-02 01:08] subhankarb commented on #24
@Fak3  +1 . Let's do it the amazon way.

[2016-11-02 17:32] Fak3 opened #29 "Test fails locally: test_generate_pre_signed_put_obj_url"
Currently one test fails because it uses local .env file. Tests sould isolate from using any real .env settings.

[code]

[2016-11-03 06:12] pwalsh commented on #8
We had some experiment using lambda to poll S3, but it is likely to be buggy, because, *especially* if you are not hashing payloads locally ( cc @Fak3 @rgrp ) and doing the validation work there, you simply never know when the datapackage contents are all present on S3.

A bad way to "know" would be if uploads are synchronous and then you have some convention to always upload `datapackage.json` la

[2016-11-03 16:58] subhankarb commented on #20
Addressed by https://github.com/frictionlessdata/dpr-api/pull/30 closing

[2016-11-03 16:58] #20 closed

[2016-11-03 17:17] subhankarb opened #34 "Use s3 as CDN for static files i.e css, js"
Jappa deploy flask app but does not provide sending css, js etc. So using flask-s3 send static files to s3 and use it as CDN.
/static/foo/style.css becomes https://mybucketname.s3.amazonaws.com/static/foo/style.css

[2016-11-03 17:19] subhankarb commented on #27
Addressed by https://github.com/frictionlessdata/dpr-api/pull/28

[2016-11-03 17:19] #27 closed

[2016-11-07 16:18] subhankarb commented on #34
Addressed in https://github.com/frictionlessdata/dpr-api/pull/35

[2016-11-07 16:18] #34 closed

[2016-11-07 16:19] subhankarb commented on #24
Addressed in https://github.com/frictionlessdata/dpr-api/pull/35

[2016-11-07 16:19] #24 closed

[2016-11-07 17:31] rgrp commented on #24
@subhankarb how is this addressed in #35? This seems to be something separate related to #9 not #35 afaict ...

[2016-11-07 18:59] rgrp commented on #5
@Fak3 as per @pwalsh comments the point of hashing is more about man in the middle attacks and avoiding some issue where data that is supposed to be sent is not sent. It is not about preventing a malicious adversary who is authorized to upload uploading bad stuff.

Summary: please include the hash in the signing of the upload as it is trivial to do and has value.

[2016-11-07 19:01] rgrp commented on #8
@pwalsh really good points and syncs with question about whether we need finalize method in #2 /cc @subhankarb

[2016-11-07 19:01] rgrp commented on #2
Based on comment from @pwalsh in https://github.com/frictionlessdata/dpr-api/issues/8#issuecomment-258070638 looks like we **do** want a `finalize` method.

[2016-11-07 19:02] rgrp commented on #8
@subhankarb also makes me wonder whether we want to bother with an AWS lambda setup or just do this in webhook (which will run inside of lambda anyway if we are doing zappa ...)

[2016-11-08 12:16] subhankarb commented on #8
@rgrp right now the implementation is like a web hook. It is inside the Zappa deployment. When the upload is done S3 push a message in lambda, and one lambda function push the data to RDS.

[2016-11-08 12:47] subhankarb commented on #29
Adressed in https://github.com/frictionlessdata/dpr-api/pull/35

[2016-11-08 12:47] #29 closed

[2016-11-08 12:50] subhankarb commented on #3
Done

[2016-11-08 12:50] #3 closed

[2016-11-08 12:53] subhankarb commented on #8
@rgrp web hook is better way as it can be far more testable. I already tried the pipeline with s3 event notification. It is working properly but most of the things are out of our control and happening as a black box.

[2016-11-08 21:24] rgrp commented on #3
@subhankarb great. When closing, where possible, please link to relevant commit or code.

[2016-11-09 03:24] subhankarb commented on #25
Resolved

[2016-11-09 03:24] #25 closed

[2016-11-09 03:25] subhankarb commented on #22
Resolved #40

[2016-11-09 03:25] #22 closed

[2016-11-09 04:40] subhankarb opened #41 "[publish] Ingest from BitStore to MetaStore by publish finalize"
After the metadata and resource is uploaded ti bitstore client can call this api to transfer data from bitstore to database

[2016-11-09 12:27] rgrp commented on #8
@subhankarb ok - let's go the webhook way!

[2016-11-09 15:38] subhankarb commented on #41
Addressed in #42

[2016-11-09 15:38] #41 closed

[2016-11-09 15:41] subhankarb commented on #8
@rgrp web hook has been implemented in #41 and was also implemented the s3 notification event capture by #39 .

[2016-11-09 15:44] #8 closed

[2016-11-09 15:54] subhankarb commented on #4
The swagger spec for the publish call
Partly addressed by https://github.com/frictionlessdata/dpr-api/pull/23
and initially implemented by https://github.com/frictionlessdata/dpr-api/commit/aa4cc7815b7d090b0a8d28d7a080a1ce5a694b43
and other part implemented before move to github
[code]

[2016-11-09 15:55] #4 closed

[2016-11-09 16:58] zelima opened #44 "Use python ruther than bash"
Currently zappa deploy script is written in bash https://github.com/frictionlessdata/dpr-api/blob/master/zappa_deploy.sh
Think it would be better it to be python

[2016-11-09 17:27] rufuspollock opened #45 "Swagger API docs working on deployed site"
At the moment there is an issue due to way the flask zappa deploy works ...

[2016-11-09 17:32] rgrp opened #46 "Data Proxy for CSV and JSON versions of CSV data"
API is at:

[code]

* [x] CSV option
* [x] JSON option
* [x] Streaming support
* [x] Tests

<del>Unfortunately python has no native way to stream afaik so just dump the whole file back. Worry about very large files later ...</del>

[2016-11-09 17:34] rgrp opened #47 "[super] Data Package view page"
* [x] Working with fixture data
* [x] Working with metadata (pulled via API) - #60
* [x] Tables and graphs working (needs data proxy implemented #46)
  * Need to change API locations for new API ...
* [x] Functional tests for page

[2016-11-10 07:56] pwalsh commented on #46
python can definitely stream a response even with plain ol' Python 2: http://flask.pocoo.org/docs/0.11/patterns/streaming/

[2016-11-10 08:50] rgrp commented on #46
@pwalsh my ignorance ;-) @subhankarb + @zelima can we use the streaming option if it is easy to do.

[2016-11-10 11:37] Fak3 opened #52 "Finalization request should use POST, not GET"
Finalization request should use POST, not GET

[2016-11-10 11:50] zelima commented on #46
Endpoints should be changed
[code]
Currently format of returned data by endpoints are
- `{"data": "header1,header2\value1,value2"} ` fro csv
- currently not working for json

Should be changed to:
- `header1,header2\value1,value2` for csv
- `[{"header1":"value1", "header2":"value2"}, {"header1":"value3", "header2":"value4"}, etc]`

[2016-11-10 14:14] zelima commented on #47
Fixed: this should be working

[2016-11-10 14:55] Fak3 commented on #6
Summarizing everything a learned about jwt so far - is is a terrible idea to use it for front-end app sessions. Most points are captured in the blogpost: https://www.reddit.com/r/node/comments/4nwmv1/stop_using_jwt_for_sessions/
I would recomment using flask sessions for frontend and jwt only for api.

[2016-11-11 09:03] zelima commented on #7
[Fixed] doe to PR https://github.com/frictionlessdata/dpr-api/pull/54

[2016-11-11 09:03] #7 closed

[2016-11-11 09:08] zelima commented on #15
Closing as all are checked

[2016-11-11 10:57] rgrp commented on #52
I agree on this one as it initiating an action not requesting something.

[2016-11-11 10:58] rgrp commented on #46
@zelima who owns this issue? Are you doing this or @subhankarb? Please can we assign and complete this item and close.

[2016-11-11 11:01] rgrp commented on #5
@subhankarb what's the status here? Can we check off the items?

[2016-11-11 11:30] kittdotech opened #58 "Logout Link not working"
Logout link not working.

This is because it is not prefixed by ENV.

* [x] create a failing test
* [x] have it pass

[2016-11-11 11:31] kittdotech opened #59 "URL Mapping is not done"
URL Mapping is not done properly.

- [x] Dasboard should be  displayed in base_url
- [x] After Auth0 Call back, URL should be base_url with user profile
- [x] Logout URL maps to home page with browser showing base_url

[2016-11-11 11:45] rgrp commented on #47
Various things to do and missing tests so reopening.

[2016-11-11 11:46] rgrp opened #60 "[view] Page working with metadata"
Overall looks like old data.okfn.org

* [x] README
* [x] All links including to data download
* [x] Functional tests

[2016-11-11 11:55] rgrp opened #61 "Review tests and code quality"
* [x] Check conformance with https://github.com/okfn/coding-standards#style-and-linting
* [x] Are tests well laid out and understandable
* [x] Do we have *reasonable* (not nec perfect) test coverage?

[2016-11-11 11:56] rgrp commented on #10
@subhankarb what template variables can we use for template emails in auth0

[2016-11-11 12:03] rgrp commented on #15
I do not think we have an end to end test - just tests of each part. This can be quite a small test but it should walk all the way through i think.

[2016-11-11 12:18] rgrp commented on #4
@subhankarb do we allow both put and POST?

[2016-11-11 12:32] rgrp opened #62 "[publish] Ingest README from BitStore to MetaStore"
When ingesting a Data Package from BitStore to MetaStore we should ingest the README and store it in a `readme` field in the database (separate from the `datapackage.json` in the `descriptor`)

Note you must search to find README name which may be `README, README.md, README.txt`

The README format should always be assumed to be markdown (or plain text).

[2016-11-11 12:35] rufuspollock opened #63 "[spec] graphql vs classic REST for API design"
Should we use graphql for our API design rather than classic REST?

/cc @pwalsh @subhankarb

[2016-11-11 12:36] rgrp opened #64 "Read API for Package"
I think this already partly implemented but wanted to check through all items:

[code]

GET returns roughly the contents of the DB package table shorn of anything "private" (not sure we have anything at the moment):

[code]

QUESTION: should we use graphql approach - cf #63

[2016-11-11 14:15] pwalsh commented on #63
I think for our queries which are not data rich/analytical it doesn't matter much

[2016-11-11 16:34] kittdotech commented on #58
Please check the code commit for test case.

[2016-11-14 08:45] zelima commented on #46
CSV needs to be converted into json. Reopening

[2016-11-14 11:27] rgrp opened #66 "[model] Publisher and PublisherMember object"
* [x] Publisher
* [x] PublisherMember
* [x] Test

[code]

At the moment roles are:

* `owner`
* `member`

[2016-11-14 20:21] zelima opened #69 "Streaming for data proxy"
Currently data from S3 is first saved in memory https://github.com/frictionlessdata/dpr-api/blob/master/app/mod_api/controllers.py#L217 as string and after passed to response. This makes no sense of using streaming contents.
As it turned out streaming from s3 to flask is not that easy. I see two options:

-  Use approach described in this comment: https://github.com/boto/boto3/issues/426#issuecomm

[2016-11-14 20:24] #46 closed

[2016-11-15 07:36] kittdotech commented on #15
Done End to End Test for publish Flow.

[2016-11-15 07:37] kittdotech commented on #58
Fixed the Logout Link & wrote the test case for Logout

[2016-11-15 07:37] #58 closed

[2016-11-15 07:37] kittdotech commented on #59
URL Mapping done for Dashboard.

[2016-11-15 07:37] #59 closed

[2016-11-15 08:48] subhankarb commented on #4
@rgrp only PUT

[2016-11-15 13:30] zelima opened #73 "Switch from using dataproxy To s3"
We should stop using the dataproxy for the CSV stuff and just channel it to the S3 system

~~Considering this is #69 still relevant?~~

[2016-11-15 14:19] rgrp commented on #4
@subhankarb can we change to allow both POST and PUT. After all i imagine we will use the same API for updates as well as create ...

[2016-11-15 17:29] subhankarb commented on #62
Done.

[2016-11-15 17:29] #62 closed

[2016-11-15 19:28] zelima commented on #64
@rgrp Can I have more clarifications on (for tests):

What does this mean?

[2016-11-16 15:55] rgrp commented on #64
@zelima private stuff would be something like an email address on a user. Often for the API we just taking a database object and turning it into json. When you do that you would want to check you are not pushing any private. With the Package object as it is at the moment I don't think we need to worry.

[2016-11-16 16:47] subhankarb commented on #66
It is the final task of #9

[2016-11-16 16:48] subhankarb commented on #9
Finished

[2016-11-16 16:48] #9 closed

[2016-11-16 16:52] zelima commented on #64
@rgrp Great, we don't revile anything private for now. Closing

[2016-11-16 16:52] #64 closed

[2016-11-16 16:56] rgrp commented on #66
@subhankarb if this is finished mark as `FIXED` and close 😄

[2016-11-16 17:09] rufuspollock opened #79 "Design publisher page"
Use this google drawing: https://docs.google.com/drawings/d/1twU-vcEku3qjetEiNRbKx6Ck19B0fbSCgt1MuKR1egc/edit

[2016-11-16 17:09] rufuspollock opened #80 "[epic] Publisher Page"
US: As a Consumer I want to see a publisher’s profile so that I can discover their packages and get a sense of how active and good they are

As a Publisher I want to have a profile with a list of my data packages so that:
- Others can find my data packages quickly and easily
- Can see how many data packages i have
- **I can find a data package i want to look at quickly [they can discover their own

[2016-11-16 17:18] rgrp commented on #2
FIXED. All subissues now done! Hurrah!

[2016-11-16 17:18] #2 closed

[2016-11-17 12:55] subhankarb opened #81 "[Model] Fix manager.py with the changed User model"

[2016-11-17 13:06] zelima commented on #60
All functions that are responsible for creating/modifying meta data for views are tested

[2016-11-17 13:06] #60 closed

[2016-11-17 13:08] zelima commented on #47
Closing as all of them should be working

[2016-11-17 13:42] subhankarb commented on #81
FIXED

[2016-11-17 13:42] #81 closed

[2016-11-17 13:43] subhankarb commented on #66
FIXED

[2016-11-17 13:43] #66 closed

[2016-11-17 16:42] zelima commented on #61
@rgrp @subhankarb I'll update this as something new comes up
After reviewing test `mod_api/test_models.py` test not cover:
- relations between tables are set as needed.
- user info is not overwritten if user with same "user name" tries to sign up (does auth0 takes care of this?)

[2016-11-17 16:47] zelima commented on #10
@subhankarb how are we doing on this?

[2016-11-17 17:00] subhankarb opened #85 "[publish] Remove s3 event handler"
Right now metadata is updated to RDS both from s3 event handler and through finalize api. have to remove first one

[2016-11-17 17:15] rgrp opened #86 "Continuous Deployment of master code"
On every push we re-deploy site

* [x] Deploy site
* [x] Create fixture sysadmin user
* [x] Locate and download fixture data (scripted)
  * [x] One nice simple data package (can use local fixtures data for now)
  * [ ] One with a lot of data in it so we can test performance of graphs etc
  * [ ] One with local data and one with remote
* [x] Push a sample data package or two using sysadmin user (sc

[2016-11-18 13:18] zelima opened #88 "Sign in button does not work with firefox"
[ ]
Reproduce:
- got to https://yrmibce6q8.execute-api.us-west-2.amazonaws.com/stage
- click sign in (nothing happens)
- use Mozilla Firefox

[2016-11-18 13:49] rgrp commented on #47
Reopening as:

- README excerpt is not showing up at top
- Issues with loading some libraries over https which means table breaks

[2016-11-18 15:57] zelima commented on #47
One option would be to include http://okfnlabs.org/csv.js/csv.js into the vendor dir

[2016-11-18 16:37] zelima commented on #61
With latest merge coverage will be increased till 91%. + Test for homepage are coming up, this will probably increase >93%.

Also adding tests for `utils` will rise coverage above 95-97%

Think that's pretty reasonable

[2016-11-18 17:06] zelima opened #90 "Minor improvement for tests"

[2016-11-18 17:08] zelima commented on #61
Test and coverage fix ups mentioned here moved to #90

[2016-11-18 17:08] #61 closed

[2016-11-18 17:10] rgrp commented on #6
FIXED. All sub-items now done.

[2016-11-18 17:10] #6 closed

[2016-11-18 17:12] subhankarb commented on #5
Fixed all tasks

[2016-11-18 17:12] #5 closed

[2016-11-18 17:19] zelima commented on #11
Fixed with the latest commit

[2016-11-21 08:13] subhankarb commented on #44
FIXED

[2016-11-21 08:13] #44 closed

[2016-11-21 08:13] subhankarb commented on #85
FIXED

[2016-11-21 08:13] #85 closed

[2016-11-21 15:00] zelima commented on #86
@rgrp @subhankarb Can we close this one as we are using local fixtures data for now and reopen/open new for next sprint?

[2016-11-21 15:18] rgrp commented on #86
@zelima yes we can close this now if you have reviewed the PR and are happy.

[2016-11-21 16:19] rgrp opened #92 "Issue loading csv.js over https"
Issues with loading some libraries over https which means table break on data package view page (needs some thought)

[2016-11-21 16:20] rgrp commented on #47
FIXED. Outstanding issue re csv.js is #92

[2016-11-21 16:20] #47 closed

[2016-11-21 16:21] rgrp commented on #86
FIXED. The extra fixture data loading was optional and can be done later ...

[2016-11-21 16:21] #86 closed

[2016-11-21 16:22] subhankarb commented on #10
Done. It takes application.name and logo parameter

[2016-11-21 17:50] rgrp commented on #10
I still need to draft this. @subhankarb don't i get more variables than that e.g. the name of the person signing up? Best thing here is probably a link to auth0 documentation.

[2016-11-22 09:51] subhankarb opened #93 "[Bug] handle NPE for readme"
Right now if readme is not found in s3 it is throwing NPE

[2016-11-22 11:15] #93 closed

[2016-11-22 14:58] subhankarb commented on #10
There is one default mail format. That is
[code]
We can modify the template once we can set some custom email provider.
Then we can add these macros:
- @@application.name@@
- @@connection.name@@
- @@user.email@@
- @@user. username@@
But these are global level settings. These are same for all application. Can not be changed per application level

[2016-11-23 05:52] subhankarb opened #97 "Soft delete data package"
- [x] Create api endpoint ```DELETE /api/package/{publisher}/{package}```.
- [x] Change status of package from ```active``` to ```deleted```.
- [x] Change ACL of s3 keys [ all versions (all data, datapackage.json and readme)]

[2016-11-23 05:56] subhankarb opened #98 "Hard delete data package"
- [x] Create api endpoint ```DELETE /api/package/{publisher}/{package}/purge```.
- [x] Delete packages[all version] from DB
- [x] Delete all objects with prefix ```/{publisher}/{packages}/*```

[2016-11-23 05:57] subhankarb opened #99 "[epic] Delete data package"
This epic is related to deletion of data packages.

## Delete aka Soft Delete #97

Delete (soft delete) data package #97

- [x] Add status to model (may already be present)
- [x] Add DELETE api call
- [x] permissions - only publisher member can issue #102
- [x] Change status flag in MetaStore
- [x] Change access control in S3 (no longer publicly visible)
- [x] Test (should be done first in TDD sty

[2016-11-23 06:13] subhankarb opened #100 "Data package versioning"
This would help user to create separate versions for the data package.
- At any point of time the data package version is called ```latest```.
- When user tag the current state of the data package it copies the data from ```/{publisher}/{package}/_v/latest/*``` to ```/{publisher}/{package}/_v/<tag>/*```

Tasks:
- [x] Create endpoint ```POST /api/package/{publisher}/{package}/tag```
- [x] Copy obje

[2016-11-23 06:59] subhankarb opened #101 "Restore deleted data package"
This will restore the soft deleted data packages
- [x] Change back s3 object acl to public
- [x] Change back DB status back to ```active``` from ```deleted```

[2016-11-23 07:20] subhankarb opened #102 "Only owner of the publisher can do delete operation"
Only the owner of the publisher can do delete operation.
- [x] Create annotation ```@requires_roles```
- [x] Check the use has enough permission to do that operation else throw 401

[2016-11-24 17:10] subhankarb commented on #97
@rgrp if the owner and the user of S3 is same the ACL is always FULL_CONTROL. So do we need changing ACL for soft delete. Only status flag in database would be enough.

[2016-11-25 16:12] Fak3 opened #103 "Launcing tests with `FLASK_CONFIGURATION=test` results in errors: role "u1" does not exist"
When i launch tetsts with `FLASK_CONFIGURATION=test nosetests tests` i get a lot of errors because the postgres user is missing:
[code]
The config expects the user of the current shell exist in posrtgres. It should be noted in the README or created automagically (ideally)

[2016-11-28 02:56] subhankarb commented on #102
@rgrp I have one question. Can a user has multiple roles on a publisher[owner+member+read+write] or a single role[owner or member].

[2016-11-28 11:03] rgrp commented on #92
Simplest solution: include csv.js into our app. Let's do that for now.

[2016-11-28 11:10] rgrp opened #106 "[epic] Research viz libraries with strong focus on line charts"
We are focusing on line charts since by far the most common and in the spirit of doing one thing (very) well. Later we can look at other charts at least to start with.

In progress at: https://github.com/rgrp/line-charts

* [x] Research libraries https://github.com/rgrp/line-charts/issues/1 [epic]
* [x] Try out shortlist - https://github.com/rgrp/line-charts/issues/11 [epic]

[2016-11-28 13:48] zelima commented on #11
@kittdotech @subhankarb Think this is fixed with latest commit. Could you please confirm and close?

[2016-11-28 14:36] rgrp commented on #11
FIXED.

[2016-11-28 14:36] #11 closed

[2016-11-28 15:43] rgrp commented on #15
@subhankarb can you take a look to make sure this is really complete as per discussion on last sprint review meeting.

[2016-11-29 05:25] subhankarb opened #108 "[epic] [auth] User authorization for actions"
This epic will address user authorization, a user is elegible for certain action or not.

## Implementation steps

There will be seperate implementaion for different actions as logic for each

* [x] Create an authorization.py that encapsulates authorization logic
* [x] List of roles with actions #110
* [x] Create `has_permission / is_allowed` #111
* [x] Refactor API permissions to use this (may wa

[2016-11-29 05:37] subhankarb commented on #97
Fixed

[2016-11-29 05:37] #97 closed

[2016-11-29 07:38] subhankarb opened #109 "Create Capability Structure"

[2016-11-29 07:41] subhankarb opened #110 "Create list of of roles with associated actions"
See list in epic #108

[2016-11-29 07:42] subhankarb opened #111 "[auth] is_authorized function encapsulating role lookup"
As per description in the epic #108

[2016-11-29 07:49] subhankarb commented on #102
Will be done with #108

[2016-11-29 07:49] #102 closed

[2016-11-29 07:49] #92 closed

[2016-11-29 08:05] zelima opened #112 "Download links for csv and json files are missing "owner" on datapackage page"

[2016-11-29 09:44] #112 closed

[2016-11-29 14:20] subhankarb opened #115 "Migrate to pytest from nose"
Right now the testing is done by nose test. We want to change it to pytest

[2016-11-29 15:40] subhankarb commented on #98
Fixed

[2016-11-29 15:40] #98 closed

[2016-11-29 16:40] zelima opened #116 "csv.js not working on live website"
Reason:
- currently path to csv.js is hard coded  `src="../static/js/csv.js"`

Solution:
- path needs to be changed to `src="{{ s3_cdn }}/static/js/csv.js"`

[2016-11-29 20:18] #116 closed

[2016-12-01 19:44] rufuspollock opened #118 "Improve line chart on data package view page"
## Desired features

* Elegant and beautiful
* Zoomable
* Download current chart

Later

* Configure chart to add new lines or change to log axis

## Preliminary required work

* [x] Review existing libraries - #106
* [x] Make a choice about which library we use
  * [x] Compare vega/vega-lite vs plotly (vs maybe bokeh)
  * [x] Make a choice - we prefer plotly for line graphs but will support vega[

[2016-12-01 19:48] pwalsh commented on #118
FYI I've used https://github.com/reactjs/react-chartjs in, for example https://github.com/frictionlessdata/data-quality-dashboard/blob/master/app/ui/scripts/components/charts/publisher.js

[2016-12-03 07:37] rgrp commented on #109
INVALID. Not needed for what we are doing.

[2016-12-03 07:37] #109 closed

[2016-12-03 08:59] rgrp commented on #90
@zelima what was going to go in here? Is there anything? If not we should close as INVALID.

[2016-12-03 09:35] rgrp commented on #15
@subhankarb did you get a chance to make the improvements here?

[2016-12-05 10:40] zelima commented on #90
@rgrp Opened this for any further improvements after reviewing coverage and and quality, including tests for Utils.
As we decided not to have tests for Utils (at least for now), closing as INVALID

[2016-12-05 10:40] #90 closed

[2016-12-05 13:52] Fak3 opened #120 "Installation is broken at db setup stage with migration error"
When doing the README at this step:

[code]

I get an error:

[code]

[2016-12-05 14:41] subhankarb commented on #111
Addressed in https://github.com/frictionlessdata/dpr-api/pull/119

[2016-12-05 14:41] #111 closed

[2016-12-05 14:41] subhankarb commented on #110
Addressed in https://github.com/frictionlessdata/dpr-api/pull/119

[2016-12-05 14:41] #110 closed

[2016-12-05 16:13] anuveyatsu commented on #106
FIXED. https://github.com/rgrp/line-charts

[2016-12-05 16:13] #106 closed

[2016-12-05 16:17] subhankarb commented on #99
Fixed

[2016-12-05 16:17] #99 closed

[2016-12-05 16:43] subhankarb commented on #108
Fixed

[2016-12-05 16:43] #108 closed

[2016-12-05 21:10] rgrp commented on #118
Next steps:

* [ ] Compare vega/vega-lite vs plotly (vs maybe bokeh)
* [ ] Decide whether we do react js refactor now or not and how to sequence that with this change

[2016-12-06 13:20] pwalsh opened #121 "OKI Code review"
- [x] Please provide a stable URL to a staging version of the app (stable enough to be more or less up every day)
   - #123 and maybe #124
- [x] As far as I can see, [zappa](https://github.com/Miserlou/Zappa) does not require one to add zappa-specific code into a codebase itself. However, our [codebase has many references to Zappa](https://github.com/frictionlessdata/dpr-api/blob/master/app/mod_ap

[2016-12-06 16:30] rgrp commented on #118
Updated description and moving to 19 dec milestone. In 5 dec milestone we completed research but did not get to start work on the upgrade.

[2016-12-06 16:32] rgrp commented on #120
@Fak3 can you explain more about this problem before we do work on it.

[2016-12-06 16:40] rgrp commented on #1
INVALID. Closing as this will get out of date and the swagger API docs are authoritative.

[2016-12-06 16:40] #1 closed

[2016-12-06 16:43] #115 closed

[2016-12-06 16:53] rgrp commented on #10
auth0 docs on customizing emails: https://auth0.com/docs/email/templates

Key points:

- You must setup your own email provider using a third-party service (Amazon SES, Mandrill or SendGrid) or a custom provider to be able to customize your emails.
- It is a fair amount of work to setup due to configuring security stuff
- Attributes available in templates listed here https://auth0.com/docs/email/t

[2016-12-06 16:53] rgrp commented on #10
Based on what we now know I'm pushing to backlog as not clear this is a priority and seems a fair amount of work.

[2016-12-06 16:55] rufuspollock opened #123 "Deploy staging app with stable url"
* [x] Finish dpr-deploy
  * [x] Have someone test it (e.g. @zelima)
* [x] Deploy app
* [x] Document

Not part of this issue but needed to do this:

* [x] Get a nice domain / URL for it - #121

[2016-12-06 16:56] rufuspollock opened #124 "Automate deployment of staging app"
We were doing this with travis but disabled as occasionally led to travis build failures when deployment had issues.

One option would be to deploy from a deployment branch and have travis build when we push to that. Is it worth the complexity?

[2016-12-06 17:45] subhankarb opened #125 "Validate metadata in data packages"
We need to validate datapackage metadata before pushing to bit storage

Use: https://github.com/frictionlessdata/datapackage-py#validating-a-data-package

One issue is that we have package names like: `{publisher}/{name}` - that will violdate current dp py validator. /cc @pwalsh what do we want to do about this??

NOTE: we won't validate data - this is just about metadata. That would happen, if it

[2016-12-06 17:56] subhankarb opened #126 "[fix] Fixes small issues from OKI code review"
- [x] Update travis  Postgres to 9.5
- [x] Remove unnecessary configuration from [BaseConfig](https://github.com/frictionlessdata/dpr-api/blob/master/app/config.py#L11)
- [x] Added required docstrings for class [Catalog](https://github.com/frictionlessdata/dpr-api/blob/master/app/mod_site/models.py#L9)

[2016-12-06 18:06] subhankarb opened #127 "Add required application variable to context processor"
Improvement to make the code more elegant. Came out of code review in #121

Inject application variable as context processor

- [x] zappa stage name
- [x] static file s3 CDN path

[2016-12-06 18:32] subhankarb opened #128 "[Test] Add detailed testing for user authorization"
We need to cover all possible user roles and permissions through unit test

[2016-12-06 18:40] rufuspollock opened #129 "Import all core data package datasets from data.okfn.org"
All core datasets from http://data.okfn.org/data/ live here! List is at: https://github.com/datasets/registry/blob/master/core-list.txt

- [x] User called `core`
  - Publisher called `/core`
- [x] Script to automate publishing using dpm-py
  - [x] Automate for one data package in a git repo given the git url
     - [x] Clone the git repo locally (automate that)
     - [x] Use dpmpy publish to publ

[2016-12-07 06:13] pwalsh commented on #125
@subhankarb ( cc @rgrp ) you could do a PR on https://github.com/frictionlessdata/schemas/blob/master/definitions.json#L59 to allow `/`.

[2016-12-07 11:17] rgrp commented on #125
@pwalsh that was my plan but need a change in the DP spec right 😉

[2016-12-07 16:08] pwalsh commented on #121
About docs for users/permissions/roles being in https://github.com/frictionlessdata/dpr-api/issues/108 well, it is a closed issue :). Please add the documentation to the README so it is discoverable, and also add docstrings.

About documenting `Catalog` - I gave catalog as an example, but the whole codebase needs useful docstrings, so https://github.com/frictionlessdata/dpr-api/issues/126 does not

[2016-12-07 17:21] Fak3 opened #131 "Registering new user via auth0 results in IntegrityError: null value in column "id" violates not-null constraint"
After a new user is registerd, the dpr-api server callback throws an error:
[code]

[2016-12-07 18:42] rgrp commented on #131
@subhankarb can you look at this - can we get this under test in some way?

[2016-12-07 18:43] #120 closed

[2016-12-08 08:50] subhankarb commented on #131
@rgrp let me check. this id is ```autoincrement``` should not behave like this.

[2016-12-08 14:44] Fak3 commented on #131
@subhankarb I investigated a bit. This is an issue with migrations. When db created with `python manage.py createdb` it works. The error appears only when db created with `python manage.py db upgrade`. Though after a quick look I did not find any difference in the database.  Maybe we can delay this issue for the future.

[2016-12-10 14:06] rgrp commented on #131
@Fak3 could you add to the issue description **when** exactly that error happens. E.g. when were you calling the API.

[2016-12-11 16:04] anuveyatsu commented on #118
I was working with React and Vega-lite over CDN and in that case it is ok. But when tried with npm install and build with browserify / webpack, I had problems. Seems it is common issue for Vega: https://github.com/vega/vega/wiki/Vega-and-Browserify
But I could not find info about vega-lite. I tried this Vega’s one and it did not work.

[2016-12-11 16:05] anuveyatsu commented on #118
There is a third-party package to work with React and Vega-lite, which makes it super easy: https://github.com/anuveyatsu/dpr-js-with-react-vega-lite

[2016-12-12 10:25] Fak3 commented on #131
@rufuspollock I added "immediately" to hopefully be more clear. It is a callback that is triggered by auth0 on user register event.

[2016-12-12 17:28] rufuspollock opened #134 "A live stable staging site with core data packages imported"
* [x] Deploy app with stable url #123
* [x] Automate deployment of staging app #124
* [x] Import core datasets from data.okfn.org #129

[2016-12-12 17:37] rufuspollock opened #135 "Get a nice URL for staging app"
To do this we need to link a custom domain to API-Gateway generated endpoint we get from Zappa.

We are going with **option 2** below as we don't want to register with route 53.

Best walkthrough is: https://www.pandastrike.com/posts/20160613-ssl-cert-aws-api-gateway-zerossl-letsencrypt

* [x] Get certificate via zerossl @subhankarb
  * [x] Generating The CSR
  * [x] Apply For A Cert
    * [x] Pro

[2016-12-12 18:41] rufuspollock opened #136 "[js] React graph view for vega-lite"
Inline vega-lite

* [x] Create fixture data package to work with
  * [x] Data Package with resource data but we will ignore the resource data for now! Write out a vega-lite view with the data inlined as values ...
* [x] Create a simple react view that renders this graph using just the vega-lite with inlined data
  * [x] add vega-lite libs
  * [x] write code to link together - should be super simpl

[2016-12-12 19:34] rufuspollock opened #137 "[js] Refactor JS for DP View page to use React"
What do we need to do:

=>

* [x] Refactor JS "app" code in current "api" app in [static/js in dpr-api][current-js] into react-style code in our dpr-js repo - https://github.com/frictionlessdata/dpr-js/issues/12
 * [ ] Refactor main Flask app to use dpr-js

### Refactoring the Flask App

* submodule dpr-js repo into the static directory e.g. at `/app/static/dpr-js/`
* Delete current import of JS i

[2016-12-12 19:36] rufuspollock opened #138 "[js] Plotly support for DP view page"
* [ ] Plan out plotly support
* [ ] Support plotly config in datapackage.json
* [ ] Convert recline to this (?)

[2016-12-14 17:11] #126 closed

[2016-12-14 17:55] rufuspollock opened #140 "authorization refactor work"
* [x] current is_allowed is a function wrapper for api and should move to api common
* [x] change is `is_role_allowed` to `is_allowed`
* [x] decent tests for `is_allowed` - focus on testing `is_allowed`
  * [x] non-owner cannot delete package, owner can ...

[2016-12-15 17:08] #128 closed

[2016-12-15 17:11] subhankarb commented on #15
Fixed

[2016-12-15 17:11] #15 closed

[2016-12-15 17:13] #100 closed

[2016-12-16 16:11] rufuspollock commented on #125
Will not happen this sprint.

[2016-12-16 16:12] rufuspollock commented on #45
Won't happen this sprint.

[2016-12-16 16:14] rufuspollock commented on #127
Moving out of this sprint.

[2016-12-16 16:23] anuveyatsu commented on #136
FIXED. Commit for supporting dataSource: https://github.com/frictionlessdata/dpr-js/commit/876c70e169431af160bfcc927835221d7a4b56cc
See entire repo: https://github.com/frictionlessdata/dpr-js

[2016-12-16 16:25] rufuspollock commented on #124
FIXED. Done in https://github.com/frictionlessdata/dpr-api/commit/1cf2c35fd20f4378380703b76b3e6e1fe5771646#diff-354f30a63fb0907d4ad57269548329e3 - you need to push to deploy branch to get a deploy.

[2016-12-16 16:25] #124 closed

[2016-12-16 17:02] #136 closed

[2016-12-16 17:30] rufuspollock opened #143 "[js] Support recline style views"

[2016-12-17 09:07] rufuspollock commented on #15
@subhankarb when you fix can you reference commit or similar (if that is not already shown in the issue).

[2016-12-17 10:20] #140 closed

[2016-12-18 15:36] zelima opened #144 "Refactor dashboard"
We need simple documentations of how to publish data package.
Please see slide deck for comparison with previous versions

Desired result would look something like this:
![dashboard-v3](https://cloud.githubusercontent.com/assets/15143785/21294586/99eb6608-c559-11e6-9741-2b5aafeff7b1.png)

[2016-12-18 18:29] #144 closed

[2016-12-19 09:15] subhankarb opened #147 "[js] User should remain their logged in page unless logout"
Right now if user refresh the page he again needs to log in.

[2016-12-19 09:18] rufuspollock commented on #138
DUPLICATE. MOVED to https://github.com/frictionlessdata/dpr-js/issues/17

[2016-12-19 09:18] #138 closed

[2016-12-19 09:19] subhankarb commented on #135
Fixed

[2016-12-19 09:19] #135 closed

[2016-12-19 10:14] rufuspollock opened #149 "S3 bucket should be deployed at subdomain "bits" and with CORS"

[2016-12-19 10:30] #147 closed

[2016-12-19 11:44] pwalsh commented on #135
what is the URL?

[2016-12-19 14:31] subhankarb commented on #149
Fixed

[2016-12-19 14:31] #149 closed

[2016-12-19 16:47] subhankarb commented on #137
the sub-module is not working in travis

[2016-12-20 04:03] subhankarb opened #152 "Fix dpr-js submodule deploy with travis"
Right now dpr-js is a sub-module of dpr-api that wok with command ``` git submodule update --init --recursive```. But while building in travis it is failing.

[2016-12-20 04:05] subhankarb opened #153 "Fix manager.py core user"
Right now admin user is mapping as core user

[2016-12-20 10:08] subhankarb opened #154 "S3 bucket name change"
right now the bucket name of s3 is bits.{{domain_name}}. But the problem is that
[code]
So we have to change the naming convention of the bucket.

[2016-12-20 10:14] zelima commented on #135
URL for staging website: https://staging.datapackaged.com/

[2016-12-20 13:57] #153 closed

[2016-12-20 15:52] subhankarb opened #156 "[js] wrong path for datapackage"
Right now the datapackage path requested for core publisher and demo-package is:
```/core/metadata/core/demo-package/_v/latest/datapackage.json```
but it supposed to be:
```/metadata/core/demo-package/_v/latest/datapackage.json```

[2016-12-20 16:39] subhankarb opened #157 "S3 object level permission to read data"
Right now we do not have object level permission to read data publicly. Do we need this object level permission to read for every one?

[2016-12-20 16:41] subhankarb opened #158 "Access-Control-Allow-Origin header for s3 request from dpr-js"
We need to add ```Access-Control-Allow-Origin``` in request header from dpr-js. else we are facing this issue:
``` No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://*.*.*.*:5000' is therefore not allowed access.```

[2016-12-20 16:47] subhankarb opened #159 "Should return aws s3 link for object from back end"
Right now from ```datapackage_show``` api we are returning only key of the object like : ```metadata/core/demo-package/_v/latest/datapackage.json```, but we are not sending any other s3 related data like ```bucket name``` or send pre-signed url for reading the data

[2016-12-21 08:53] rufuspollock commented on #154
@subhankarb as i understand it the fix to this is to use cloudfront e.g. https://www.h3xed.com/web-development/using-https-with-amazon-s3-and-your-domain

What is the cost of doing this?

The two options going forward are:

- Use buckets which do not have "." in them - which breaks having nice subdomains e.g. bits.{our-main-domain}.com
- Use cloudfront - if that works.

The latter is def preferabl

[2016-12-21 08:55] rufuspollock commented on #159
@subhankarb can you explain *why* we would want this additional info e.g. where the client needs this.

By default i think we should assume data and files are acl-public and can be read by anyone for *now* (i get for private datasets this *will* be needed - however, we are not *yet* supporting that use case).

[2016-12-21 09:56] subhankarb commented on #159
As mentioned in https://github.com/frictionlessdata/dpr-api/issues/156 right now backend is sending only the object key but not the bucket name ..

[2016-12-21 10:03] zelima commented on #159
@subhankarb @rufuspollock My guess here is for frontend js (graphs and tables).
We need full path (link) to datapackage.json. Having only the s3 key would not be that useful, no?

[2016-12-21 13:22] rufuspollock commented on #159
@subhankarb the backend should be sending to the frontend the full url path to the DataPackage - either the base directory or the datapackage.json (probably the latter).

[2016-12-21 13:23] rufuspollock commented on #137
@subhankarb is the sub-module issue now solved?

[2016-12-21 13:45] subhankarb commented on #137
@rufuspollock yah it is working .... that day the first build failed .... but right now it is working.

[2016-12-21 16:33] anuveyatsu commented on #158
@subhankarb I think this is due to server's permission. If we send a request from localhost it is a Cross-Origin Request and it should be allowed on remote resource. When it is deployed it should not throw this error.

[2016-12-21 16:40] subhankarb opened #160 "[publish] Pre generated url is not working with md5 hash"
- [x] If we are adding md5 hash while generate the pre signed url for uploading resources, it is not working
- [x] Should return 400 if datapackage.json is in requested path

[2016-12-21 16:50] subhankarb commented on #158
@anuveyatsu right we have to set CORS at s3 bucket
[code]
Fixed

[2016-12-21 16:50] #158 closed

[2016-12-21 17:27] pwalsh commented on #160
I've given links to working code for this stuff (hashes for presigned uploads), knowing that it is a pain to get right. Please go back to that and you could pretty much copy/paste the original work.

[2016-12-21 18:06] rufuspollock commented on #137
FIXED.

[2016-12-21 18:06] #137 closed

[2016-12-21 18:09] rufuspollock commented on #157
@subhankarb yes - we should have object level to read all stuff in s3 if the data package is public (i.e. not private).

[2016-12-21 18:19] rufuspollock commented on #143
DUPLICATE. MOVED to https://github.com/frictionlessdata/dpr-js/issues/20

[2016-12-21 18:19] #143 closed

[2016-12-21 18:25] subhankarb commented on #160
@pwalsh thanks ... we tried normal boto3 way. But it failing. Me and @Fak3 will go through that.

[2016-12-21 18:28] rufuspollock opened #161 "[doc] Authorization setup"
Do this outside of code in proper docs.

Use mkdocs.org - suggest we create in drp-docs repo.

[2016-12-21 18:29] rufuspollock opened #162 "[doc] Authentication - auth0 and JWT"

[2016-12-21 18:30] rufuspollock commented on #121
Moving to Backlog. A good amount *was* done in 19 Dec sprint and remaining items will get done at different times.

[2016-12-21 18:41] subhankarb commented on #123
Fixed

[2016-12-21 18:41] #123 closed

[2016-12-22 02:26] subhankarb commented on #159
@rufuspollock as discussed in https://github.com/frictionlessdata/dpr-api/issues/154 if we set up ```cloudfront``` we can get object just by calling
- bits.{{domain}}.s3.amazonaws.com/{{objectkey}} [did this](bits.staging.datapackaged.com.s3.amazonaws.com)
- bits.{{domain}}/{{objectkey}} [if we set cert for this domain in cloudfont]

In that case what we are sending from backend is perfectly ok.

[2016-12-22 02:36] subhankarb opened #163 "[doc] Infrastructure setup"
What infrastructure we need with what permissions and setup doc

[2016-12-22 07:53] rufuspollock commented on #158
@subhankarb is setting this part of the automated deploy? We should avoid doing things manually - and if we do make sure we get it back into the automated system.

[2016-12-22 07:54] rufuspollock commented on #154
@subhankarb what is your plan here? Also, let's make sure if we do use cloudfront that it is automated.

[2016-12-22 07:54] rufuspollock commented on #159
@subhankarb great. So if this is under test the issue is closed right now. Well done!

Re cert for domain on cloudfront - can you mention this in #149

[2016-12-22 12:13] subhankarb commented on #134
Fixed

[2016-12-22 12:13] #134 closed

[2016-12-22 12:14] subhankarb commented on #154
@rufuspollock sure

[2016-12-22 13:56] subhankarb commented on #159
Fixed

[2016-12-22 13:56] #159 closed

[2016-12-22 13:57] subhankarb commented on #156
Addressed in https://github.com/frictionlessdata/dpr-api/issues/159 and fixed

[2016-12-22 13:57] #156 closed

[2016-12-22 14:02] subhankarb opened #166 "[devops] Should automate Cloud-front integration with S3"
As decided in #154 we should automate the integration between cloud-front and s3

[2016-12-22 14:02] subhankarb commented on #154
Manual fix for right now will be addressed in #166

[2016-12-22 14:02] #154 closed

[2016-12-23 09:09] rufuspollock commented on #135
@subhankarb please take note of this little thread. When you close as FIXED it is good to offer a short summary of what has happened. In this case the obvious thing would have been:

[code]

[2016-12-23 10:06] subhankarb commented on #45
Fixed when deployed with fixed domain name. As previously it was deployed with zappa stage endpoint.
Example:
With zappa the endpoint was ```{{host}}/stage/apidocs/index.html```
Internally it was redirect to ```{{host}}/spec``` for spec json. but that was wrong path.
After deployed with fixed domain ```staging.datapackaged.com``` the api docs is redirecting to right endpoint.

[2016-12-23 10:06] #45 closed

[2016-12-23 14:04] rufuspollock commented on #157
@subhankarb this wants to get set in S3 as we want people to direct access to objects in the s3 bucket if they are associated with a public data package (and not have to go through our API to get access).

[2016-12-26 02:18] subhankarb opened #172 "Update Logs with proper format and level"

[2016-12-26 13:11] subhankarb opened #173 "[js] Convert all front-end code to react"
Right now we have part of the front-end code as react app. But we are not getting the benefit of react as for every request we are sending all front-end library every time. We have to refactor the whole front-end code in react to get full benefit of react app.
@rufuspollock and @anuveyatsu plz tell me your views.

[2016-12-26 13:21] rufuspollock commented on #173
@subhankarb this is something we will think about but is a way off. I'd suggest we approach this incrementally. We also need to think about things like SEO set up.

[2016-12-26 13:22] rufuspollock commented on #172
@subhankarb do you mean logging? If not which "logs"? Please can you add brief description for issues ;-)

[2016-12-27 03:29] subhankarb opened #174 "Remove dataproxy api"
As we are using lambda as our server, there is some limitation of lambda.
- The response and request payload can not be more that 6MB

That is why we are fetching resources directly from front-end using s3 url. That is why our previously created apis:
- ```/api/dataproxy/{publisher}/{package}/r/{resource}.json```
- ```/api/dataproxy/{publisher}/{package}/r/{resource}.csv```
are not getting used. S

[2016-12-27 03:36] subhankarb opened #175 "Make project modular"
Right now the project is divided in two main part
- mod_site
- mod_api
But as we are adding more and more api the ```mod_api``` module is getting really big.
So to make the project more modular we should split the ```mod_api``` in 3 parts
- mod_package
- mod_auth
- mod_search [as this will be one of the main functionality]

This is way code will more manageable

[2016-12-27 08:03] pwalsh commented on #175
Why do you have the `mod_` name space? Seems unnecessary.

[2016-12-27 08:54] subhankarb commented on #175
Ok i will do that.

On 27-Dec-2016 1:33 PM, "Paul Walsh" <notifications@github.com> wrote:

[2016-12-27 15:42] subhankarb opened #177 "Monitoring Setup"

[2016-12-27 15:43] subhankarb opened #178 "Metrics collection"
There are several type of metrics we need to capture to monitor who the application is working.
We can use https://github.com/omergertel/pyformance or https://github.com/Cue/scales for collecting these metrics

[2016-12-27 16:10] rufuspollock commented on #118
FIXED. Pretty much! I think there may be some remaining issues with vega style views but recline + plotly is working.

[2016-12-27 16:10] #118 closed

[2016-12-27 17:15] subhankarb commented on #175
Fixed. Right now there are three moduled
- package [holds all data package related apis]
- auth [holds all authentication and authorization apis]
- site [template rendering]

Future
- search [will holds all search apis]

[2016-12-27 17:15] #175 closed

[2016-12-27 20:41] Fak3 commented on #161
Docs repo created at https://github.com/frictionlessdata/dpr-docs

[2016-12-28 15:27] rufuspollock commented on #174
Quick comments:

- For most front-end rendering or API work 6mb is fine so I am not worried about that limitation
  - right now if we try and render > 5mb CSV into front-end view page stuff will not work well
- In fact, 6Mb limit could be good.

So simple answer is: 6 MB limit is not an issue. Overall, I think we will want an API but we need to do more work on it and think how it will work.

[2016-12-28 15:27] rufuspollock commented on #174
WONTFIX.

[2016-12-28 15:27] #174 closed

[2016-12-28 15:50] subhankarb commented on #160
The pre-signed url is not working with md5 key.
Normally when put
[code]
it works.

But when put any other put_object parameter like ```ACL``` ```md5``` etc it throws
[code]

If trying put header like ```Content-MD5``` in put request it throws ```Headers not signed```.
Tried almost all possible combinations. Have to raise an issue in ```boto3``` repo.

[2016-12-28 15:52] subhankarb commented on #152
In travis it generally checkout master. But the updated code was in gh-pages branch. That's why it was not reflecting in deployment.

[2016-12-28 15:52] #152 closed

[2016-12-29 07:11] subhankarb opened #180 "List all Data Packages by User"
We need to list all data packages of user. The data packages can be from the publisher of which the user is ```member``` or ```owner```.
[code]

[2016-12-29 07:11] subhankarb opened #181 "List all Data Packages by Data Package Profile"
We need to list all data packages owned by the publisher.
[code]

[2016-12-29 07:11] subhankarb opened #182 "List all data packages"
We need apis for retrieve all data packages. Data packages are owned by user and publisher. So we need two separate Apis:
- [ ] List all data packages owned by user
- [ ] List all data packages owned by publisher
One common feature for both apis would be pagination.
[code]

[2016-12-29 08:55] Fak3 opened #183 "Optimize and benchmark db indexes."
Currently we have indexes in some places, that could hurt performance. For ex:
[code]
we will almost never face a query for "all deleted packages". As far as I understand - only this query may have some benefit for the index, as there would likely be only few deleted packages. But our most common case will be to get all the active packages (plus maybe some publisher filter). If the optimizer decid

[2016-12-29 08:57] Fak3 commented on #183
See discussion start here: https://github.com/frictionlessdata/dpr-api/pull/179#pullrequestreview-14558372

[2016-12-29 08:57] #101 closed

[2016-12-29 09:05] rufuspollock commented on #183
@Fak3 right now this is definitely **icebox**. Either way I doubt this impacts performance much. Good to have this issue for the future but right now please you or @subhankarb don't spend time on it 😄

[2016-12-29 16:14] subhankarb opened #185 "Requirements Analysis for next iteration"
We have to analysis the dpr requirements for next iteration.

We are working on refining [user stories here][us]

[us]: https://docs.google.com/document/d/1O62Iim-iK1Xhsl19o5Ti9ERp1ZzQ3KxCt5OuUR3Q7hM/edit#

[2016-12-29 16:23] subhankarb commented on #127
Fixed.

[2016-12-29 16:23] #127 closed

[2016-12-30 15:34] subhankarb commented on #160
Pull request has been raised https://github.com/boto/boto3/issues/934

[2016-12-30 16:18] #157 closed

[2016-12-31 13:30] #160 closed

[2017-01-02 10:58] #161 closed

[2017-01-02 11:08] subhankarb commented on #166
Fixed

[2017-01-02 11:08] #166 closed

[2017-01-02 15:11] subhankarb commented on #163
Issue moved to [frictionlessdata/dpr-docs #4](https://github.com/frictionlessdata/dpr-docs/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-02 15:11] #163 closed

[2017-01-03 15:55] subhankarb commented on #129
The core data packages is getting pushed under admin user. Have to change it to core user

[2017-01-06 16:38] subhankarb commented on #129
Fixed

[2017-01-06 16:38] #129 closed

[2017-01-06 16:45] rufuspollock commented on #129
This is great. In future recommend we "eat our own dogfood" and use the existing purge command.

[2017-01-06 17:08] subhankarb commented on #162
Did not complete in 2nd Jan milestone moving to next milestone

[2017-01-06 17:10] subhankarb commented on #185
Did not complete in 2nd Jan milestone. Moving to 16th Jan milestone.

[2017-01-09 16:48] Fak3 opened #188 "Dots in paths for upload requests should be stripped"
The s3 has no notion of '.' as 'current dir'. If the client asks to upload data to subpath, which contains dots (`./data/mydata.csv`), then those 'dot-dirs' get created as regular dirs on the s3 bucket. We should probably strip the dots from path on the server.
`metadata/username/packagename/_v/latest/./data/mydata.csv`

Another related issue with double-dot dirs that was mentioned in the TA doc c

[2017-01-10 14:05] Fak3 commented on #162
Authentication for the client side was documented https://github.com/frictionlessdata/dpm-py/issues/45

[2017-01-10 16:06] Fak3 commented on #162
https://github.com/frictionlessdata/dpr-docs/pull/7

[2017-01-11 15:46] #162 closed

[2017-01-11 16:04] rufuspollock commented on #185
So we spent 13h by Monday:

- All requirements reviewed and user stories generated for them
- User stories reviewed and refactored
- User stories prioritized
- Analysis started

Last 2d: 8h

- Further analysis of specific items
- Graphql investigation

[2017-01-11 18:01] pwalsh commented on #185
@rufuspollock graphql is not a requirement.

[2017-01-12 14:45] Fak3 commented on #185
Tried to evaluate "import to Pandas" user story, encountered a bug: https://github.com/frictionlessdata/jsontableschema-py/issues/145

[2017-01-13 09:02] rufuspollock commented on #185
@pwalsh got you that graphql is *not* a client requirement (and don't worry - we know that). But we do need to evaluate it as an implementation choice - we are doing a lot of frontend stuff and it might simplify that (and API work).

[2017-01-13 09:04] rufuspollock commented on #188
@Fak3 great point - we should get a test for this asap and then fix.

Also do you know if we properly handle paths like "../" for resources (this should not be permitted ..._) - if not let's open a separate issue for that.

[2017-01-16 14:35] Fak3 opened #189 "Double-dots in resource paths should be prohibited."
We should keep and restrict all the data for any datapackage under the corresponding bitstore key (dir), in the subkeys (subdirs/files). So that malicious or careless user, uploading a datapackage resource will not ever overwrite any other datapackage's data or metadata.
To achieve that we should forbid resource paths to refer to parent-directory with double-dots `../`. This could be done when use

[2017-01-16 14:36] Fak3 commented on #188
Created an issue for double-dots: https://github.com/frictionlessdata/dpr-api/issues/189

[2017-01-16 14:40] Fak3 commented on #189
As a sidenote - amazon treats dot-dirs as regular dirs(keys). Probably it does not have a special meaning for double-dots either. This should be checked.

[2017-01-16 14:44] Fak3 commented on #188
Actually the datapackages spec could prohibit dot-dirs along with double dots (for simplicity of implementations), as the concept of current-dir = `./` does not seem that useful for datapackages. If it will - we should just forbid these too.

[2017-01-17 13:37] Fak3 commented on #125
@subhankarb I am confused by what you said in the issue description:

So is this issue about validating metadata (datapackage.json) or the resources data?

[2017-01-17 13:41] Fak3 commented on #88
Worked for me. I think it was fixed with js and templates overhaul.

[2017-01-17 13:41] #88 closed

[2017-01-17 13:50] Fak3 commented on #125
Ok, renamed and clarifed the issue desctription. (this is for metadata only)

[2017-01-17 13:53] Fak3 opened #190 "Validate resources data after upload."
We can use goodtables to implement validation. As it is a long process, the validation job should launch asynchronously.

### Original user stories:
_As a Publisher [owner] i want my data to be validated when I publish it so that I know immediately if I have accidentally “broken” my data or have bugs and can take action to correct_

_As a Consumer I want to know that the data I am downloading is “

[2017-01-17 13:57] Fak3 commented on #63
Copying from hackpad, some brief research on graphql:

## Pros
* GET: client can query exactly what he needs:
[code]

## Cons
* Server side implementation is quite complex (For flask see [graphene-sqlalchemy](https://github.com/graphql-python/graphene-sqlalchemy))
   * Introduces full-blown abstraction model over your (database) models, you will have to learn many new concepts (nodes, types, execu

[2017-01-17 14:10] pwalsh commented on #63
For our case of storing metadata, it is a total and complete overkill. Probably only of potential interest if we are actual reading data into a backend and then allowing queries across data packages.

[2017-01-17 18:22] Fak3 opened #191 "When the token is expired, user is redirected to the non-existing page"
Steps to reproduce:
* login to the datapackage registry website (https://staging.datapackaged.com)
* wait for (an hour?) for token to expire
* refresh the home page

Result:
You are redirected to the url https://staging.datapackaged.com/staging/staging.datapackaged.com/logout, which does not exist.

[2017-01-17 19:23] Fak3 opened #192 "Display the "loading" indicator while the table and graph is loading on the datapackage page"
Some datapackages are quite huge and it takes long time to render the table or graph on the datapackage page. Right now it is hard to tell if there was an error in the js script or it is still loading.

For example this one takes mor than 10 seconds for a table to show up: https://staging.datapackaged.com/core/finance-vix

[2017-01-17 19:40] Fak3 opened #193 "For many datapackages, graph or table does not show up"
Affects at least 3 of 5 datapackages I tried: gdp, country-codes, coutry-list
Go to https://staging.datapackaged.com/core/country-list
The graph or table does not show up, and there are few errors in the browser console:
[code]

[2017-01-18 06:29] pwalsh opened #194 "Confusing auth user experience"
1. I signup at a site: `datapackages.org`
2. I get an email (screenshot below) with the following signals:
  - email sender is auth0 - what is that
  - welcome to atomatichq - what is that

<img width="1280" alt="screenshot 2017-01-18 08 27 30" src="https://cloud.githubusercontent.com/assets/791678/22053265/30269d02-dd58-11e6-9c04-90320c1f570c.png">

[2017-01-18 06:33] pwalsh opened #195 "Confusing login user experience"
1. Signup or login
2. Get told to download the client and configure
3. When trying to configure, after installing client according to the first view on login, I get told "No Data Package found ...."
4. The instructions page has no unique URL - not sure if I leave I'll be able to get back to it

<img width="1280" alt="screenshot 2017-01-18 08 32 03" src="https://cloud.githubusercontent.com/assets/7

[2017-01-18 07:04] pwalsh commented on #195
Also:

- no link to home page
- no navigation to any data pages. not sure how I can find or look at anything

[2017-01-18 09:03] Fak3 opened #196 "Minor confusion that after registration your username gets lowercased"
Oauth registration dialog allows to enter the name in any case. But after the registration it gets lowercased, and you have to notice that to enter lowercased name in `dpmpy configure`.
It would be nice to restrict the oauth dialog to lowercase username in the first place, while user inputs it.

[2017-01-18 09:15] pwalsh commented on #196
If can't change the auth dialog, can also make all code that handles usernames (such as `configure`) case insensitive. Not so great, but depends on what restrictions you have with the auth0 service

[2017-01-18 09:29] subhankarb commented on #185
Fixed. The details are in  https://hackmd.io/IwdgnARhBmBsEFpoGMSwQFgMwFMsLACYATfYjCgVioA5oQBDIA==

[2017-01-18 09:29] #185 closed

[2017-01-18 12:30] Fak3 commented on #195
I can share this confusion. I would suggest to split urls of
* Our generic home (landing) page. It could display a lot of basic info for unregistered users (see https://www.heroku.com/ for example). But this page will be too generic for those who already learned those basics and registered (presumably to publish stuff). If the user is logged-in, and tries to go to this homepage, he could be redire

[2017-01-18 12:40] Fak3 opened #197 "Dashboard page should have distinct url"
After the user logs in, he should be redirected to the /dashboard page

Extracted from https://github.com/frictionlessdata/dpr-api/issues/195

[2017-01-18 21:30] rufuspollock commented on #197
@Fak3 why go to /dashboard rather than /? Choice of having base page as dashboard for logged in user was an intentional choice.

[2017-01-18 21:33] rufuspollock commented on #195
@pwalsh

the base page of the site is your dashboard page as a logged in user - like github and other sites.

The "no data package found" when configuring is an issue and needs fixing - @Fak3 can you open an issue on dpmpy repo about this.

Nav links: we have completely neglected the ux of the overall site for the time being. This is something to work on - and we can boot an issue for it (i want t

[2017-01-19 07:37] pwalsh commented on #195
@rufus this page is more like the GitHub settings page than the GitHub dashboard page. GitHub has three distinct pages of relevance:

- dashboard
- profile
- settings

I thing what we have here is closest to settings. The main actions on the GitHub dash board are:

- direct access to my repos
- direct access to repos of those I follow
- search over all of GitHub

[2017-01-19 14:00] Fak3 commented on #197
As Paul mentioned, it is a confusing experience to have two distinct pages with the same url. If it is a root (home) page - registered user may think that it is how it looks like for everyone. Copying and sharing with expectation that other users will see some parts that only belong to his dashboard.

[2017-01-19 14:29] Fak3 commented on #195
Thinking about it more - I am unsure do we really need distinct "publisher profile" and "publisher dashboard" pages? Could it be the same page (url) with some extra elements visible only for the owners\members?

[2017-01-19 14:37] Fak3 commented on #195
Partially answering myself: The dashboard is rather "The registered user's dashboard", not the "Publisher's dashboard". So it could have all ер user's contrubutions in on place, and include many publihers packages.
But the usefulness of this dashboard page will highly depend on the usage pattern of the service. It may be only important for some users, who conribute a lot of packages for differernt

[2017-01-20 08:16] rufuspollock commented on #197
WONTFIX.

@Fak3 I don't think this is confusing and it is a common pattern on many sites including e.g. github. If we really want documentation somewhere we can get a new url - i don't think sharing your dashboard url is that important.

Until we have more evidence this is confusing I'm going to close as wontfix.

[2017-01-20 08:16] #197 closed

[2017-01-20 10:49] pwalsh commented on #197
I think the evidence for why it is confusing is in #195

[2017-01-20 11:53] rufuspollock commented on #63
@pwalsh we are not planning to use it for POST / PUT but just for GET. It comes up in things like building the publisher page. I think we are agreed on defer for now.

[2017-01-20 11:53] rufuspollock commented on #63
FIXED. Won't use graphql for now.

[2017-01-20 11:53] #63 closed

[2017-01-23 15:39] rufuspollock commented on #182
Users don't own packages! Why not just implement a basic version of the search API here?

[2017-01-23 15:39] rufuspollock commented on #182
Suggest we close as DUPLICATE in favour of search API epic.

[2017-01-23 15:45] rufuspollock commented on #79
FIXED.

[2017-01-23 15:45] #79 closed

[2017-01-24 05:31] subhankarb opened #198 "Add controller for search api for data package"
We need to implement controller.
Api:
GET /api/search/package
Query params:
- q = query option e.g. "gdp publisher:world-bank"
- sort (and order): defaults to most recently created
- filter = filter option e.g. publisher:core

[2017-01-24 05:31] subhankarb opened #199 "Add helper methods for search data package"
We need [SQLAlchemy-Searchable](http://sqlalchemy-searchable.readthedocs.io/en/latest/index.html)

### What would query look like?

[code]

### Simplest possible - no scoring)

No changes just use like query to search the pattern.

[code]
Right now going with second solution
Will implement advance search with https://github.com/frictionlessdata/dpr-api/issues/201

Tasks:
- [ ] Parse query string t

[2017-01-24 05:33] subhankarb opened #200 "Data Package Search"
TODO: short description / user story.

## Tasks

API

* [x] API controller exists with search endpoint - just returns all packages unsorted or default sort order or most recent first (by created!) - #198
* [x] Filter by publisher `?publisher=xxx` (no support for generic `?q=...` syntax #211
* [x] Search in titles - simple "like" support (? - may not need if we do next item first) #227

UI
- [x] Ad

[2017-01-24 06:00] pwalsh commented on #200
@subhankarb implementation section says the following:

    Registered User visits their Dashboard and has a prominent highlighted section saying "Invite users to join {DPR}"

And a list of following points. Why is this needed to implement search?

[2017-01-24 06:05] pwalsh commented on #200
@rufuspollock why use Postgres search and not a decent search index like Elasticsearch?

IIRC, even the most basic cases of UK/US spelling variation will not be possible with Postgres. I can't imagine that development time is greatly impacted by choosing one or the other....

[2017-01-24 06:15] subhankarb opened #201 "Implement Search using SQLAlchemy-Searchable"
For advance search we need SQLAlchemy-Searchable. This way we can easily implement ranking for different columns. Sql like query is only pattern matching query but with this we will have multiple words query

[2017-01-24 06:19] subhankarb commented on #200
@pwalsh for the first comment. Sorry was a typo.

[2017-01-24 06:22] subhankarb opened #202 "Implement publisher information api"
We need an api to fetch details of publisher information.
Api:
```/api/profile/publisher/<name>```
Response:
[code]

tasks:
- [ ] Add contact, writeup, country, title in publisher model
- [ ] Add controller for profile information

[2017-01-24 09:01] subhankarb opened #203 "Implement data package information api"
Right now we return template for data package details page. This include package url, readme and other details.
We need an api to get package information to implement datapackage view page in react.
Api:
GET /api/package/<publisher>/<package>/info
response:
[code]

[2017-01-24 09:17] subhankarb commented on #182
Closing will be handled in https://github.com/frictionlessdata/dpr-api/issues/200

[2017-01-24 09:17] #182 closed

[2017-01-24 09:17] subhankarb commented on #181
Closing will be handled by https://github.com/frictionlessdata/dpr-api/issues/200

[2017-01-24 09:18] subhankarb commented on #180
Closing will be handled by https://github.com/frictionlessdata/dpr-api/issues/200

[2017-01-24 09:18] #180 closed

[2017-01-24 09:24] rufuspollock commented on #200
@pwalsh development time will be impacted by using ES vs Postgres in terms of deployment - it is yet another piece of infrastructure. Happy to do it, but in my experience it will have some impact (e.g. we have to make sure data gets written somewhere else, have to set this up for testing etc etc)

[2017-01-24 09:31] subhankarb opened #204 "Update publisher profile information api"
we need to implement api to update publisher profile information.

Api: POST /api/profile/publisher/<name>
Request body:
[code]
Tasks:
- [ ] Implement rest api in profile/controllers
- [ ] Implement methods for updating DB
- [ ] Authorization (only owner will have permission to do it)

[2017-01-24 15:22] Fak3 commented on #203
Why we need it? Frontend could derive any backend url itself. And pull the readme from bitstore.

[2017-01-24 16:14] Fak3 commented on #202
fixed in #205

[2017-01-24 18:07] Fak3 opened #206 "API_KEY should be configurable in .env file"
API_KEY is a secret used in the backend to encode\decode jwt tokens. Right now it is hardcoded to "dpr-api-key" in the app/config.py. It should instead be a secret string, configurable in the .env file.

I also propose to give more informative name, for ex. "JWT_SEED"

## Tasks

- [x] Change API_KEY name to JWT_SEED.
- [x] Set `app.secret_key` value to  JWT_SEED.
- [x] Make JWT_SEED hard coded for

[2017-01-24 18:27] Fak3 opened #207 "AUTH0_DB_NAME in the .env file should be optional and default to empty string"
AUTH0_DB_NAME could be optional, so that default AUTH0 db will be used.
Currently it is impossible to start without this variable:
[code]

[2017-01-24 18:37] Fak3 opened #208 "Local tests failing with psycopg2.OperationalError: "dpr_db_test" does not exist"
Following README instructions, tests are failing:
[code]

README should have full info on how to launch tests. This includes tests database and user setup.
Related: #103

[2017-01-24 19:26] rufuspollock commented on #207
+1

[2017-01-24 19:26] rufuspollock commented on #206
+1

[2017-01-24 19:27] rufuspollock commented on #203
I agree with @Fak3 and I also thought the package API returned the full descriptor for the datapackage?

@subhankarb please provide a lot more information about the current situation and the proposed change before we implement this.

[2017-01-24 19:29] rufuspollock commented on #182
@subhankarb when closing please mark as DUPLICATE and add duplicate label so it is clear what is happening.

[2017-01-24 19:31] rufuspollock commented on #202
@subhankarb why was this as `/api/profile/publisher`? That does not make a lot of sense to me - this should surely be at `/api/publisher/{name}` - can you explain why it is not.

Also I want to have at least a days notice on issues so they can be reviewed before they are implemented - this stuff should be in at the beginning of the sprint wherever possible.

[2017-01-24 19:32] rufuspollock commented on #181
@subhankarb this is example where it will NOT be handled by #200. As per extensive discussions on calls we are NOT supporting search by Data Package profiles atm (we don't even have the information systematically).

[2017-01-24 19:32] rufuspollock commented on #181
WONTFIX. We are not supporting search by data package profiles.

[2017-01-24 19:32] #181 closed

[2017-01-24 19:33] rufuspollock commented on #204
This needs more analysis and a proper user story. Definitely backlog for now.

[2017-01-24 19:37] rufuspollock commented on #197
@pwalsh I read #195 and don't feel that was a key issue. Given that github and others have done this successfully for years I'd like to give this a little time to play out. If it really is a problem we should catch that pretty quickly with early users and can easily change it. Leaving as WONTFIX for now :wink:

[2017-01-24 19:49] rufuspollock commented on #192
@Fak3 agree - this is a known issue that we can fix in the JS.

[2017-01-24 19:58] rufuspollock commented on #191
Another question for me: do you really get logged out after an hour? That is pretty annoying ...

[2017-01-25 01:27] #202 closed

[2017-01-25 01:59] subhankarb commented on #203
Closing we already have that api as  /api/package/<publisher>/<package>

[2017-01-25 01:59] #203 closed

[2017-01-25 03:10] subhankarb commented on #202
@rufuspollock The thought behind the naming prefixed with /api/profile is that:
We need profile information for both user and publisher.
So both api would be:
- For publisher /api/profile/publisher/{name}
- For user /api/profile/user/{name}
[We are using Auth0 for using only verification. Every time user logged in or signup the db gets synced. ]

[2017-01-25 16:29] Fak3 commented on #191
@rufuspollock Currently - yes. This time is hardcoded in the auth.models.JWT. We can increase it, but long-lived tokens are dangerous. I am unaware of the right solution to tighten the security right now.  Maybe we can also include users IP address in the token body and validate it on the server, so that leaked token can't be easily used...

[2017-01-25 16:34] Fak3 commented on #131
Putting into Icebox until we will really need migrations.

[2017-01-25 16:40] Fak3 commented on #173
I think we are currently moving to the react in the dpr-js repo. I'd suggest to close this and instead report individual issues in case that some functionality or bug requires to refactor any existing js\templates\code.

[2017-01-26 03:32] subhankarb opened #211 "Package Search API filter by publisher"
Filter by publisher ?q=xxx publisher:{name}

## Tasks

- [x] Write one failing test.
- [x] Parse the query string to generate filtering options [here it is by publisher]
- [x] Create the filtering query and get data from db.

[2017-01-26 03:49] rufuspollock commented on #173
FIXED. See https://github.com/frictionlessdata/dpr-js/issues/67

[2017-01-26 03:49] #173 closed

[2017-01-26 03:59] subhankarb opened #212 "Integration dpr-js into deployment automatedly"
We have front end module in https://github.com/frictionlessdata/dpr-js . It creates final build named bundle.js and commits it to github. This is error prone as we forgets to build bundle.js before commit sometimes.

Solution: Build bundle.js automatically while deploying dpr-api with dpr-deploy.

## Tasks

- [x] Make react resource file load with flask. Need to configure webpack.
- [x] Remove bun

[2017-01-26 05:57] pwalsh commented on #212
npm has a post install hook for that purpose.

[2017-01-26 14:32] Fak3 commented on #212
Isn't it separate issue? Am I right, that we are dropping it because we moved all js to dpr-js repo, and it is not related to automated bundling?

[2017-01-27 05:41] rufuspollock commented on #212
@Fak3 strictly you are correct and I mentioned this to @subhankarb yesterday. Suggest you split out a separate issue and move that item out.

[2017-01-27 06:12] rufuspollock commented on #121
FIXED. Mainly fixed. Main outstanding items are large things that are about major features (and Search is in progress).

We can def revisit this in next round of reviewing.

[2017-01-27 06:12] #121 closed

[2017-01-27 13:49] subhankarb opened #214 "Migrate all frontend pages to JS from Flask"
We are moving the front-end to be a single-page-app in React. We need to move existing Flask pages to React.

## Tasks:

- [ ] Basic scaffolding
- [x] Migrate datapackage details page https://github.com/frictionlessdata/dpr-js/issues/67
- [ ] Migrate home page
- [ ] Migrate sign-in/signup https://github.com/frictionlessdata/dpr-js/issues/61
- [ ] Migrate user dashboard https://github.com/frictionl

[2017-01-27 15:03] rufuspollock commented on #214
@subhankarb can you add **all** the pages we needed to migrate including the ones we've done.

[2017-01-28 14:49] rufuspollock commented on #201
INVALID.

IMO this is an issue that should be part of something else - the exact way we implement something can be part of issue description. E.g. this is part of implementing search by title or search in description ...

[2017-01-28 14:49] #201 closed

[2017-01-28 14:50] #198 closed

[2017-01-28 14:50] #211 closed

[2017-01-29 14:26] subhankarb commented on #212
FIXED.
In dpr-api: https://github.com/frictionlessdata/dpr-api/pull/215
In dpr-js: https://github.com/frictionlessdata/dpr-js/pull/93
Also fix the dpr-deploy with task for installing npm packages and build.

[2017-01-29 14:26] #212 closed

[2017-01-30 02:20] subhankarb commented on #199
INVALID.
The functionality is covered by #201 and #211

[2017-01-30 02:20] #199 closed

[2017-01-30 03:11] rufuspollock commented on #199
@subhankarb please add the invalid label 😉

[2017-01-30 12:46] subhankarb commented on #80
FIXED.
The url is https://staging.datapackaged.com

[2017-01-30 12:46] #80 closed

[2017-01-30 14:56] Fak3 opened #217 "On locally launched server any page throws HTTP 500: TemplateNotFound"
Recent changes to the dpr.py in #212 rendered the locally launched server broken. Application starts silently, but accessing any page results in TemplateNotFound error:
[code]

[2017-01-31 06:46] subhankarb opened #218 "Search in datapackage titles and readme"
We want text search on datapackage title and readme.

## Current Db structure:
The readme is a column so we can use tsvector for this column. But we have data package title as json structure inside descriptor column. So we can not directly use tsvector for package title. So we have to create separate column for package title.

## Tasks:

- [ ] Add column for package title extracted from package de

[2017-01-31 07:03] subhankarb opened #219 "[js] Render specific page when called exact URL"
When called `/` url flask server serves the assets. Then if we navigate to `/:publisher` page we go to publisher page. But when we directly put `/:publisher` we get 404 as flask app does not have that route.

## Solution:
We have to pattern match all url that do not match `/api/*` and pass the path to react. Then we can push the path to react-router [ `browser_history.push(path)`  ] so that that s

[2017-01-31 07:10] subhankarb commented on #217
@Fak3 did you run the following commands https://github.com/frictionlessdata/dpr-api#submodules

[2017-01-31 09:29] Fak3 commented on #217
yes

[2017-01-31 11:49] Fak3 commented on #200
As I understand this is not a priority, and even more - it does not require search api at all. The filter can be implemented purely in js, filtering list of packages stored in the frontend (that was fetched when page opened).

[2017-01-31 11:54] Fak3 commented on #218
I'd propose to search only in titles, not readme - until we implement proper results ranking. The readme search may give a lot of low-relevance matches.

[2017-02-01 09:15] subhankarb opened #220 "Analysis for 13 Feb 2017 sprint"
- [x] Check we have user stories for all sprint items - create, improve and comment
  - [x] Search - already done!
  - [x] Data Package View - what is done? What are acceptance criteria @rufuspollock
  - [x] dpmpy datavalidate @Fak3
  - [x] dpmpy undelete @Fak3
  - [x] dpmpy tag @Fak3
  - [ ] dpmpy install @rufuspollock
  - [x] UX / Site looks nice @rufuspollock
- [x] Do analysis for these user st

[2017-02-01 10:59] subhankarb opened #221 "Implement Search page"
We need to implement dedicated search page.

## Implementation:

- URL structure for search page would be /search?q=term
Page structure
- We can reuse the PackageList from Publisher component to view datapackages

## Tasks:

- [x] Mock search page in a google drawing [layout](https://docs.google.com/drawings/d/1dj2ZUV5SJgBtBd58ArSsojEraXQkLJUc5ZC9RI5VRcU/edit?userstoinvite=subhankar.biswas@atomati

[2017-02-01 14:05] subhankarb opened #222 "Revert to Multi Page App"
We want to move back from current approach of single page to perviously created flask multi page app.

## Tasks:

- [x] Revert back to old HTML
  - [x] Datapackage view page [old dataset.html]
  - [x]  Home Page
- [x] Modify back dpr-js to work with previous dpr-api structure
  - [x] Update webpack to work with dpr-api MPA
  - [x] Update dpr-api dataset snippet method to work with
- [x]  Convert R

[2017-02-02 08:40] subhankarb commented on #219
INVALID.
As we are move back to MPA. We do not have to implement this.

[2017-02-02 08:40] #219 closed

[2017-02-02 08:45] subhankarb commented on #214
INVALID.
As we are moving back to MPA(flask) we do not have to implement this.

[2017-02-02 08:45] #214 closed

[2017-02-02 13:14] subhankarb opened #224 "Migrate from Bootstrap3 to Bootstrap4"
We use bootstrap 3 for styling. Bootstrap 4 come with lot of new improvements. So we want to migrate to bootstrap 4.

## Tasks:

- [x] Change bootstrap components for these html pages:
  - [x] Base.html
  - [x] Index.html
  - [x] Dashboard.html

[2017-02-02 14:40] pwalsh commented on #224
it is still in alpha.

[2017-02-03 06:08] subhankarb commented on #224
@pwalsh AFAIK alpha-6 is the last alpha release. They are releasing beta next month. They added flex support in BS4 and a lot more improvements.
@rufuspollock what is your review about this issue?

[2017-02-03 10:16] rufuspollock commented on #224
@pwalsh I get this is alpha but we evaluated the changes and they are fairly minor (not like 2->3) and we think this is a small bit of useful future-proofing.

[2017-02-03 12:28] #224 closed

[2017-02-07 02:34] rufuspollock commented on #218
WONTFIX / INVALID. We won't do this for now. As @Fak3 searching README may be poor quality for now and there isn't clear need for it. INVALID because some of the tasks here are now incorrect e.g. we don't need a new column for the title as we can do FTS using json data from the json column in postgres.

[2017-02-07 02:34] #218 closed

[2017-02-07 02:39] rufuspollock commented on #222
@subhankarb please don't change estimates during sprints unless there is a **very** special reason 😉 - o/w we don't get a sense of how good our original estimates were.

Also is this now FIXED?

[2017-02-07 04:54] subhankarb commented on #222
FIXED.
Fixed with pull requests
- https://github.com/frictionlessdata/dpr-api/pull/226
- https://github.com/frictionlessdata/dpr-api/pull/223
- https://github.com/frictionlessdata/dpr-js/pull/104

[2017-02-07 04:54] #222 closed

[2017-02-07 08:14] subhankarb opened #229 "Static file public path setup"
We have some static file public path issues
- [x] dpr-js should generate fixed named final css file. Right now it is hash based.
- [x] The generated main.css file path is not mentioned in dpr-api dataset.html
- [x] The bundle.js path is not prefixed with s3 cdn path

[2017-02-07 09:34] Fak3 commented on #229
Extracting from @pwalsh comments on PR:
At some point we will have to switch back to hash-based css filename(url) because of cdn caching issues.

[2017-02-07 11:20] pwalsh commented on #229
It makes little sense not to have kept the hashing, when it was already implemented...

anyway, here are the relevant bits of code and config.

Note that this is from a non-public Django project that I have. The small adjustments for Flask are trivial (Flask config vs. Django settings, Flask context processors vs Django context processors).

[code]

[code]

[code]

[code]

[code]

[code]

[2017-02-07 11:23] pwalsh commented on #229
@roll @amercader the above might be useful to you too as you need to do essentially the same in goodtables.io I guess

[2017-02-07 12:55] subhankarb commented on #229
@pwalsh thanks a lot

[2017-02-08 04:27] subhankarb opened #231 "Improve Sign In/ Sign out process"
We use jwt for tracking user's signed in or signed out status.
Every time user goes to home page index.html page returns back. Then we check token stored in local storage. Then send token to server for expiration check. Then new page returns back from server.

Problem:
- We were sending post message to `/`to check jwt expiration time, and if expired from server we redirect to logout.html from serv

[2017-02-08 04:32] subhankarb commented on #191
Will be addressed in #231

[2017-02-08 04:35] subhankarb commented on #217
FIXED.
This was a problem when we were in react, and was generating html page from there. But right now we moved to MPA and this html page resides in templates directory. So this is not a problem right now.
Tested and closing

[2017-02-08 04:35] #217 closed

[2017-02-08 09:10] subhankarb commented on #221
FIXED.
Fixed with https://github.com/frictionlessdata/dpr-api/pull/228

[2017-02-08 09:10] #221 closed

[2017-02-08 09:29] rufuspollock commented on #200
For @subhankarb to do:

* Search input in the search page (and make navbar search smaller)
* Search heading: "Search" on search page
* Show query in search input on search page

[2017-02-08 10:11] Fak3 commented on #231
The client can't check the validity of jwt token itself, as she does not know server's secret jwt seed.

[2017-02-08 10:12] Fak3 commented on #231
The only way to remove extra client-server roundtrip is to pass jwt in cookies.

[2017-02-08 10:19] Fak3 commented on #231
The issue #191 can be handled by the client, as she only needs to check the expiration time fo the token, not the validity. But in general we will have to switch to cookies, so it will solve #191 automatically.

[2017-02-08 12:52] subhankarb commented on #231
@Fak3 sorry it is not the validity. It is the expiration time :).

[2017-02-08 14:35] Fak3 opened #232 "Get rid of duplicated roundtrip to authenticate user."
#Right now we store jwt token in browser localstore after login. So our authentication process would look like this:
* User opens restricted url (for ex, private package)
* Server delivers some blank page with a js script
* Script is executed in the browser, retrieves token from localstore
* Script call the server *again* to fetch actual page content, but now adds retieved token to the request hea

[2017-02-09 08:40] subhankarb opened #234 "Production site set up"
We have to setup the site in production environment - http://datapackaged.com/

## Tasks

- [x] ~~Run automated deploy script~~
  - [x] ~~Set up infrastructure (AWS stuff, Auth0) (automated)~~
  - [x] ~~Logging (by zappa)~~
- [ ] ~~Generate certificates~~
  - [x] ~~Certificate for S3 cloudfront~~
  - [ ] ~~Certificate for API Gateway custom domain~~

As we switched now to use heroku none of steps

[2017-02-09 09:40] rufuspollock commented on #231
@subhankarb there is still no clear description of the problem from the user perspective. What do they experience here that is problematic? If this is not a user problem what is the technical issue?

[2017-02-09 09:46] rufuspollock commented on #217
@subhankarb as a minor point for future ref I'd suggest this was an INVALID rather than FIXED. Basically, the problem does not exist (or no longer exists). It was not FIXED per se ...

Great you'd checked this.

[2017-02-09 09:47] rufuspollock commented on #221
@subhankarb for these times of major UI items it would be nice to link to the page or feature on the site as part of your closing of the issue.

[2017-02-09 10:13] subhankarb commented on #231
@rufuspollock
- Problem 1: Refresh problem
   - go to staging.datapackaged.com.
   - Login --> Dashboard
   - Refresh. We are not logged in.

- Problem 2: Login Problem.
   - Go to staging.datapackaged.com/core/{package} .. If i want to login. There is no login button

[2017-02-10 03:50] subhankarb opened #236 "[bug] _snippets.html throwing error if readme is None"
In search page view, the macro from _snippets.html is throwing error if readme file is null.

[code]

[2017-02-10 07:05] subhankarb commented on #231
FIXED.
Fixed with pull req https://github.com/frictionlessdata/dpr-api/pull/235

[2017-02-10 07:05] #231 closed

[2017-02-10 07:33] subhankarb commented on #191
FIXED.
Fixed with #235

[2017-02-10 07:33] #191 closed

[2017-02-10 07:38] subhankarb opened #238 "Use hash value for static resources name"
We have fixed file name for static resources e.g. bundle.js, main.css
It is better to use hash values for these resources like bundle.[hash].js

## Implementation Details [provided by @pwalsh ]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-02-10 07:41] subhankarb commented on #229
FIXED.
Fixed by https://github.com/frictionlessdata/dpr-api/pull/230

The hash included names for static resources will be implemented with https://github.com/frictionlessdata/dpr-api/issues/238

[2017-02-10 07:41] #229 closed

[2017-02-10 07:46] subhankarb opened #239 "[css] Fix padding for logout button in navbar"
Problem: The logout button in navbar is appearing in larger size.

Solution: Have to remove the padding for the component.

<img width="1432" alt="screen shot 2017-02-10 at 1 13 38 pm" src="https://cloud.githubusercontent.com/assets/2178361/22818355/d1b4d91c-ef92-11e6-9c62-72282910b00b.png">

[2017-02-10 07:47] subhankarb commented on #208
@Fak3 / @rufuspollock could not reproduce the error. In my work station it is working.

[2017-02-10 09:08] subhankarb commented on #236
FIXED.
Fixed with #237

[2017-02-10 09:08] #236 closed

[2017-02-10 09:08] subhankarb commented on #239
FIXED.
Fixed with #240

[2017-02-10 09:08] #239 closed

[2017-02-10 09:16] rufuspollock commented on #220
FIXED.

[2017-02-10 09:16] #220 closed

[2017-02-10 09:18] rufuspollock commented on #208
INVALID. @Fak3 please reopen if you think this is actually still a problem.

[2017-02-10 09:18] #208 closed

[2017-02-11 18:25] Fak3 opened #241 "Tagging non-existing datapackage should return 404"
Currently server responds with 500.

The same about non-existing publisher.

[2017-02-11 18:29] Fak3 opened #242 "Tagging with invalid fromatted tag should be forbidden - return 400"
As we will have to put tags into url at some point, I think we should impose some restrictions on the format of a valid tag.

This is up to be discussed. I think we should only allow `a-zA-Z0-9._-` and no spaces.

[2017-02-11 19:03] Fak3 opened #243 "Blank page header when window width is less than ~1180px"
In Firefox and chrome i see blank page header on any page if the window width is less than some value:
http://i.imgur.com/rtI03Rm.png

If the window is wide enough, everything is ok:
http://i.imgur.com/dJGbhc5.png

[2017-02-14 10:44] Fak3 opened #244 "Another way to generate presigned urls"
Openspending-conductor uses another way to generate presigned urls https://github.com/openspending/os-conductor/blob/fc242f1/conductor/blueprints/datastore/controllers.py#L32

Previously in #187 we switched from `s3.generate_presigned_url()` to `s3.generate_presigned_post()` and I could not yet find a way to do streaming file uploads in the client. See issue https://github.com/frictionlessdata/dpm

[2017-02-14 14:34] rufuspollock commented on #244
@subhankarb can you review this (but not implement yet).

[2017-02-14 15:14] pwalsh commented on #244
**Exactly** (and I asked it to be done with that code from the beginning).

[2017-02-15 03:46] rufuspollock commented on #244
@pwalsh **I know** 😉

[2017-02-15 08:28] pwalsh commented on #172
this is actually a problem. can we just use gunicorn (like everyone else) and configure for logs to go to stdout (needed for docker setup, for example)

[2017-02-16 02:17] subhankarb commented on #200
FIXED.

[2017-02-16 02:17] #200 closed

[2017-02-16 04:15] subhankarb commented on #244
@Fak3, @pwalsh
I went through the code before. The implementation [here](https://github.com/openspending/os-conductor/blob/fc242f1/conductor/blueprints/datastore/controllers.py#L32) is using old boto library. In the new version they changed the api.
So we can not do
[code]
The only two options the new library has are:
[code]
I also discussed with them in the issue https://github.com/boto/boto3/iss

[2017-02-16 06:12] rufuspollock commented on #234
@subhankarb write out step by step what we do to setup the SSL stuff.

[2017-02-16 09:25] rufuspollock opened #245 "[ux] New Theme and Styling for site"
Using [Bootstrap 3.3.7 in Sass](https://github.com/twbs/bootstrap-sass) we need to build a new theme for the site. Initial thoughts can be found [here](https://docs.google.com/presentation/d/1iOuChAEGS0_5f6S7BI3nlTZ_icPxR1esoPEtR0uX5ck/edit#slide=id.g146da424a9_0_0)

## Tasks

* [x] Design and mockups for theme (including front page mockup) - #280
* [x] First pass on a front page #279
  * [x] cust

[2017-02-16 09:48] rufuspollock opened #246 "Compare OS platform and this platform and identify reuse possibilities"
* [x] Review gobble vs dpmpy
  * [x] How would we merge these
  * [x] What is different in terms of expected API
  * [x] What should we change in dpr-api and what in conductor to converge these together
* [x] Review os-conductor vs dpr-api
  * [ ] What are the key components - what are similar and what are different

[2017-02-20 22:03] Fak3 opened #247 "Accept metadata in the finalize api request"
To merge with openspending we can switch to the same upload api flow. This means:
* remove `PUT /api/<publisher>/<package>` api
* move its logic into `POST /<publisher>/<package>/finalize` api
   * accept metadata (datapackage.json) in the request content json body

[2017-02-21 09:55] rufuspollock commented on #247
@Fak3 i don't think you move the metadata into finalize. instead datapackage.json is uploaded to BitStore and then imported like we import the README. Can you also open the epic for this in dpr-api ...

[2017-02-21 11:28] Fak3 commented on #246
## Suggestions to converge restapi urls
### Current situation
#### Conductor
* Request presigned url - `POST /datastore/authorize` for all resources at once  (+datapackage.json)
  * request should have json with perpared list of resource paths, md5 hashes, filesize
  * response will be a list of filepaths with corresponding presigned urls (plus some other stuff of unknown use)
* Finalize upload -

[2017-02-21 21:43] Fak3 opened #248 "Create /api/bitstore/authorize_upload endpoint"
The api should be mostly the same as in os-conductor: see docs at http://docs.openspending.org/en/latest/developers/conductor/#get-authorized-upload-urls

The enpoint should accept json object in request body with the following format:
[code]

The endpoint should behave mostly the same as os-conductor: see code [here](https://github.com/openspending/os-conductor/blob/master/conductor/blueprints/da

[2017-02-21 21:45] Fak3 opened #249 "Converge with openspending conductor API"
Subissues to address sepecific changes to be done:
* [x] #248 Create `/api/bitstore/authorize_upload` endpoint
* [x] #250 Use 'Auth-Token' instead of 'Authentication' header
* [x] #251 Openspending-compatible upload finalization api.

In dpmpy:
- [x] Change request header for authorization https://github.com/frictionlessdata/dpm-py/issues/84
- [x] Change upload file process https://github.com/fric

[2017-02-21 21:52] Fak3 commented on #247
WONTFIX. We can keep the finalize endpoint as we have now.

[2017-02-21 21:52] #247 closed

[2017-02-21 21:58] Fak3 opened #250 "Use 'Auth-Token' instead of 'Authentication' header"
To merge with os-conductor, we should adopt the same auth header 'Auth-Token'.
Also the header content should not start with 'bearer', as it does now. (use plain jwt)

[2017-02-22 00:16] subhankarb commented on #250
@Fak3 It seems that `jwt` is passing in post body. As jwt is retrieved with
[code]

[2017-02-22 09:04] Fak3 commented on #250
@subhankarb their auth is inconsistent between blueprints. I the datastore they use the headers.

[2017-02-22 09:23] Fak3 opened #251 "Openspending-compatible upload finalization api."
To merge with os-conductor we should try to be compatible in the finalize upload API.

* Change url to `/api/package/upload`

* Request body should be json object in the format: `{'datapackage': 'url'}`
  * 'datapackage' should be url of the `datapackage.json` that was previously uploaded by the client on the BitStore
     * That url should be used in the controller code to fetch metadata and as b

[2017-02-22 09:29] Fak3 commented on #251
Hm... I actually think that the 'status' should be better renamed to 'job_status', to clearly separate request status (as in http terms) and job status.

[2017-02-25 13:15] rufuspollock commented on #125
WONTFIX. We won't take data package json over the API but straight into bitstore. if we do validate we'll do this on import form bitstore to main database.

[2017-02-25 13:15] #125 closed

[2017-02-25 14:37] subhankarb commented on #234
@rufuspollock Facing issue with naked domain. I found some way to resolve this. Steps to fix this

- Deploy fully hosted domain
- Remove WWW:
- Set up a .htaccess file in said directory to redirect the naked domain to www.datapackaged.com

[2017-02-25 16:24] subhankarb opened #252 "Migrate to Flask cli from Flask-script"
We are using `Flask-script` for command line usages. With flask `0.11` flask introduce new [CLI](http://flask.pocoo.org/docs/0.11/cli/) interface.
By using it we can have two benefits
- Easily move the manager script to main codebase.
- Manager script can also be tested.

[2017-02-25 23:19] rufuspollock commented on #234
@subhankarb can you describe naked domain issue more precisely.

I also emphasize that we don't want to redirect datapackaged.com to www.datapackaged.com -- we just want to use datapackaged.com.

[2017-02-27 08:06] anuveyatsu commented on #245
See https://github.com/anuveyatsu/dpr-new-theme

[2017-02-27 13:31] subhankarb opened #254 "[js] DATA_PACKAGE_URL is not passed from dpr-api"
In new implementation of dpr-js in `index.jsx` the container `DataPackageView` needs two parameters
- DATA_PACKAGE
- DATA_PACKAGE_URL

In the previous implementation this container needed `publisher` and `package` as parameters.
So we need to pass these two variables form API `GET /<publisher>/<package>`
and set these two parameters in `dataset.html`

## Tasks

- [x] Set  `DATA_PACKAGE` and `DATA_

[2017-02-27 14:33] rufuspollock commented on #254
I'll fix this now. Forgot to make this change when i updated the submodule.

[2017-02-27 14:48] subhankarb commented on #254
@rufuspollock i was doing this. Already finished. Should i raise pull?

[2017-02-27 15:06] subhankarb commented on #234
The way we could point domain to cloudfront is like:
- Add a custom DNS record to datapackaged.com:
  - set Name [keep blank for `datapackaged.com`]
  - set type [CNAME]
  - set Value [cloud front distribution]
But the problem is for naked domain `datapackaged.com` we can not set `CNAME`.
So how can we point `datapackaged.com` to `cloudfront`.
AWS `route53` has option `alias` to point domain to an

[2017-02-27 15:44] rufuspollock commented on #245
@anuveyatsu general layout looks good. Purple is a no-go 😉  - for now could we use the old image background at the top of the page. In terms of general colouring your original mockups with the green were better so i'd go with that as the general colour rather than green.

Then please move forward asap to implement.

[2017-02-27 15:48] rufuspollock commented on #234
@subhankarb can you clarify in your steps by step *where* things happen. e.g. "Add a custom DNS record ..." -- **where** do you do this.

[2017-02-27 15:51] rufuspollock commented on #246
FIXEd. We did analysis and created https://github.com/frictionlessdata/dpr-api/issues/249

[2017-02-27 15:51] #246 closed

[2017-02-28 02:11] subhankarb commented on #254
FIXED.
Addressed in this commit: https://github.com/frictionlessdata/dpr-api/commit/4e47b26e8f2a8889dbfb689be38dd456c80cfe6e

[2017-02-28 02:11] #254 closed

[2017-02-28 11:48] pwalsh opened #257 "Issues with password change"
- Password change occurs on a completely unrelated domain. The successful action leaves me on that domain, and a confused user.
- Because of above - it breaks the way password managers work - I let my password manager generate a random password, and it does so on the new domain, and therefore does not associate my password with the actual domain I want to log in to (nor with an email or username,

[2017-02-28 11:49] pwalsh opened #258 "App randomly throws error messages"
<img width="1280" alt="screenshot 2017-02-28 13 48 44" src="https://cloud.githubusercontent.com/assets/791678/23404256/ae9b980c-fdbc-11e6-9cf5-44e051bfed37.png">

[2017-02-28 11:49] pwalsh commented on #258
Actually - maybe not random - this is **all** I get after I did the reset password....

[2017-03-02 08:58] rufuspollock commented on #258
@pwalsh we've encountered this randomly as well and spent time looking at i without finding a pattern or source.

@subhankarb any comments.

[2017-03-02 10:47] rufuspollock opened #259 "[ux] Misc UX improvements as 2 March 2017"
The below lists some bugs and improvements found out in the current version of the website https://staging.datapackaged.com

## Tasks

* [x] Navbar search box do not respond on enter button - #261
* [x] Data Package view page fixes
  * [x] Layout like old site with resource previews interspersed in page
    * [x] server side - #262
    * [x] dpr-js - https://github.com/frictionlessdata/dpr-js/issu

[2017-03-02 11:23] subhankarb commented on #258
I saw this issue sometimes but it is rare.
- Had to redeploy every time. It may be a bug in zappa.
- I reported this at https://github.com/Miserlou/Zappa/issues/351

[2017-03-02 16:32] rufuspollock commented on #192
DUPLICATE https://github.com/frictionlessdata/dpr-js/issues/118

Should not be a dpr-api issue as JS.

[2017-03-02 16:32] #192 closed

[2017-03-02 16:37] rufuspollock commented on #193
FIXED. I encountered this too and believe have fixed with recent CORS work on devops.

Solution:  fixed the s3 CORS issue myself. I followed instructions here http://blog.celingest.com/en/2014/10/02/tutorial-using-cors-with-cloudfront-and-s3/ based on this google query

Comments:

* S3: must be set up with AllowedOrigin *
* Cloudfront: not setup to forward relevant headers

[2017-03-02 16:37] #193 closed

[2017-03-03 06:51] rufuspollock opened #260 "[refactor][xs] Merge app/auth/annotations.py to app/auth/auth_helper.py"
Merge app/auth/annotations.py to app/auth/auth_helper.py

Arose out of refactor in https://github.com/frictionlessdata/dpr-api/pull/253 -- simplifications there mean this separation no longer makes much sense.

[2017-03-03 08:42] subhankarb commented on #251
FIXED.
Done with the pull request https://github.com/frictionlessdata/dpr-api/pull/253

[2017-03-03 08:42] #251 closed

[2017-03-03 08:42] subhankarb commented on #248
FIXED.
Done with the pull request #253

[2017-03-03 08:42] #248 closed

[2017-03-03 08:43] subhankarb commented on #250
FIXED.
Done with the pull request #253

[2017-03-03 08:43] #250 closed

[2017-03-03 16:17] rufuspollock commented on #249
FIXED.

[2017-03-03 16:17] #249 closed

[2017-03-03 16:44] rufuspollock opened #261 "[ux] Navbar search box does not work if you hit enter"
Hitting enter in navbar search does not work

Also remove the search icon button next to it (just have the input).

[2017-03-03 16:46] rufuspollock opened #262 "[ux] Fixes to package view page early march 2017"
* [x] Implement layout like old site
  * Data Files section
    * We don't have an API so just link direct to bitstore for files
  * Download button at top working again
  * Section for each resource
    * Put JS hook placeholders like the old site e.g. `<div id="resource-{idx}"></div>`
  * Delete "hanging" Search box
* [x] Misc other
  * Remove "Switch View" as not needed
  * Metadata link links

[2017-03-04 16:51] #260 closed

[2017-03-06 06:54] subhankarb opened #266 "[ux] Publisher avatar is not right size"
The avatar icon of publisher is not right size. It appears larger.

Below is the snapshot of the issue
<img width="698" alt="screen shot 2017-03-06 at 12 21 16 pm" src="https://cloud.githubusercontent.com/assets/2178361/23599494/7d311ada-0267-11e7-8e9a-4a6d34c9cfcf.png">

[2017-03-06 07:58] subhankarb opened #267 "Research replacing auth0 with simple google and/or github login"
We use auth0 for user management.
We want to know what options we have for simple google and/or github login in flask

We are not sure Auth0 is the best option and want to look at alternatives.

Tasks

* [x] Clarify requirements - and what's wrong with current system
* [x] Find options and [quickly] compare these (this is not a massive research piece)
  * [x] Come up with recommendation on what we

[2017-03-06 09:50] pwalsh commented on #267
again: see openspending.

[2017-03-06 11:13] rufuspollock commented on #267
@pwalsh yes, that's exactly what we've been looking at 😄 If you have any *specific* details here that would be useful -- e.g. talking to @akariv my understanding is that there is no "post-sign-up" flow to do things like send welcome emails or set usernames. That's the kind of thing we'll still need to implement.

Originally, we felt there was a requirement to have simple sign up plus we thought au

[2017-03-06 11:18] #261 closed

[2017-03-06 11:22] #262 closed

[2017-03-06 12:54] pwalsh commented on #267
OpenSpending allows setting usernames. As for welcome emails and so forth - do we really need them for the MVP? When we use an oauth provider, there are no passwords to reset and so on, so not sure we need it.

[2017-03-06 19:54] rufuspollock commented on #267
@pwalsh

* Re usernames: as i understand it, this is *not* part of the signup flow whereas we definitely need this (I may be wrong and @akariv can correct me)
* Emails: for an absolute MVP: yes, you might not send a welcome email. However, i think it is definitely desirable feature and it was a consideration in selecting what we did *at the time* 😉

[2017-03-07 11:19] subhankarb opened #268 "Replacing auth0 with simple github login"
We have Auth0 as out authentication system. We want to implement OAuth authentication replacing Auth0.

### Tasks

* [x] Implement flask-oauthlib
  * [x] Create github app [datopian account] for getting key and secret
  * [x] We can directly use openspending's code for flask-oauthlib.
* [x] Refactor publisher creation flow
  * Change or fix urls for the flow
  * Fixing tests
* User model change

[2017-03-07 11:20] subhankarb commented on #267
FIXED. See updated description above with analysis and recommendation. I've also created a new issue #268 with the next steps

[2017-03-07 11:20] #267 closed

[2017-03-08 10:22] rufuspollock opened #270 "Description excerpt at top of view page has unrendered markdown"
Short description at top of page includes non-parsed markdown - see e.g. https://staging.datapackaged.com/core/gold-prices which has

Solution (as in old site): parse markdown to html, then de-htmlify and then do selection of first XX characters (i think we actual had a function for this in jinja / nunjucks - check old code)

## Tasks

* [ ] Failing test (? - could leave out as so trivial - but te

[2017-03-08 10:34] rufuspollock opened #271 "Analysis for 13 Mar 2017 Sprint"

[2017-03-08 10:35] rufuspollock opened #272 "Analysis for 27 Mar 2017 Sprint"

[2017-03-08 18:02] rufuspollock commented on #268
@subhankarb just flagged we also need to fix the `dpr-deploy` script.

[2017-03-08 18:18] rufuspollock commented on #268
@subhankarb you'll also need to remember to change deploy config on next deploy (probably when we merge dpr-js stuff in frictionlessdata/dpr-js#119)

[2017-03-08 18:41] flux627 commented on #258
Try updating to the latest Zappa version, there was a regression from 6 days ago that was just fixed.

[2017-03-09 06:06] rufuspollock commented on #257
Documenting the old process:

  - The redirection will go to auth0 side as auth0 manages the password change.
  - right now the process is

[code]

[2017-03-09 06:42] rufuspollock commented on #257
INVALID. We've switched off Auth0 and won't have password login - see #268

[2017-03-09 06:42] #257 closed

[2017-03-09 07:04] rufuspollock commented on #232
@subhankarb can you comment on this:

* Is this an issue?
* What are possible fixes?
* What is recommended approach?

[2017-03-09 07:05] rufuspollock commented on #207
INVALID. Removal of auth0 in #268 obsoletes this.

[2017-03-09 07:05] #207 closed

[2017-03-09 07:06] rufuspollock commented on #178
WONTFIX. For now not a priority.

[2017-03-09 07:06] #178 closed

[2017-03-10 06:20] rufuspollock opened #273 "Files in bits FileStore have wrong Content-Type"
e.g. datapackage.json has binary/octet-stream should be json. Try:

[code]

**Why is this a problem**:
- when you click on Metadata in the views page the datapackage.json downloads rather than being viewable in the browser.

Want right content type for JSON and for everything else set text/plain

## Problem

When we upload any file in AWS S3 the file type by default set to `binary/octet-stream`. B

[2017-03-10 06:47] rufuspollock commented on #268
Reopening:

**Sign in experience**

The sign in / sign up buttom takes you to a github page immediately with no context. You need at least some intervening page or modal that is our "sign up" page that says something like: "Sign up with your github account".
  * See hackmd.io for a good example.
  * Note hackmd.io just have "sign in" (no sign up) which right now may be all we need

I tried signing

[2017-03-10 07:49] subhankarb commented on #268
@rufuspollock about the error `'NoneType' object has no attribute 'encode'`. I did not handled for private email. If the user make the email private we can not get it. And code is not handled for empty email address.

[2017-03-10 08:16] pwalsh commented on #268
goodtables.io has a signin flow for GitHub, for your reference, which deals with inaccessible emails, seeing as we are still somehow avoiding copy/paste of a tested and working OS auth implementation.

BTW, as the GitHub auth API does not guarantee that it provides emails, you obviously can't rely on sending welcome emails and so on. I still contend that this is not a problem, and is in fact quite

[2017-03-10 08:22] subhankarb commented on #268
@pwalsh thanks. I just found it. and FIXED.

[2017-03-10 11:17] rufuspollock commented on #268
@pwalsh is there a ref for the goodtables implementation.

[2017-03-10 11:43] subhankarb opened #275 "[bug] Minor bugs in data package view page"
- [x] The file names are showing wrong name.
- [x] The file type should be same as resource format. Now it is hardcoded as `csv`

[2017-03-10 12:09] subhankarb commented on #270
FIXED.
Added markdown format for README. Did not add any test as could not found any obvious way to test it.
One way is to push manually a README file with heading with 2 `#` then check it rendered as `h2`. But looked little over kill for this small issue.

[2017-03-10 13:40] pwalsh commented on #268
https://github.com/frictionlessdata/goodtables.io/blob/master/goodtablesio/auth.py

And blueprint for handling flow.

[2017-03-10 17:32] subhankarb commented on #268
@rufuspollock added github icon in signin button
<img width="275" alt="screen shot 2017-03-10 at 11 00 42 pm" src="https://cloud.githubusercontent.com/assets/2178361/23805858/95cbfb88-05e5-11e7-9848-837f1975cdfc.png">

[2017-03-12 19:01] anuveyatsu opened #278 "New Theme and Front Page Layout"
We would like to redesign Data Package Registry front page to make it look more elegant and aligned with the brand identity of the site (frictionless: simple, powerful and elegant).

A new design was created (see [mockup](https://drive.google.com/a/atomatic.net/file/d/0B7ucLyXmP0n2SmdNTUtqR1B1Mk0/view?usp=sharing)).

Now we need to implement it using provided images and information(fonts, colours,

[2017-03-13 09:13] rufuspollock commented on #268
FIXED.

[2017-03-13 09:13] #268 closed

[2017-03-13 12:46] anuveyatsu commented on #278
FIXED in https://github.com/frictionlessdata/dpr-api/pull/279
Everything from the issue's description was achieved. Now we are using a new layout for the front page:
![image](https://cloud.githubusercontent.com/assets/17809581/23854730/ee853a4e-081c-11e7-98ae-dac5ee7a6c3f.png)

[2017-03-13 15:10] rufuspollock commented on #271
FIXED.

[2017-03-13 15:10] #271 closed

[2017-03-13 15:20] rufuspollock opened #280 "New theme for site with front page mockup"
We want a great theme and don't have one yet!

## Tasks

* [x] UX and concept slide deck
* [x] Logo
* [x] Front page mockup / site theme mockup

[2017-03-13 15:20] rufuspollock commented on #280
FIXED.

[2017-03-13 15:20] #280 closed

[2017-03-13 15:26] subhankarb commented on #270
FIXED.

[2017-03-13 15:26] #270 closed

[2017-03-13 15:29] anuveyatsu opened #281 "Data Page mockup"
We are redesigning the site with a new theme and stylings. Now we need to work on Data Page. First, create a mockup for this page.

[2017-03-13 15:31] anuveyatsu opened #282 "Implement the mockup for Data Page"

[2017-03-13 16:51] rufuspollock commented on #266
Should be part of bigger improvement to publisher page as part of new theme epic #245

[2017-03-13 17:05] anuveyatsu opened #283 "Plotly graph is not showing on the live site"
Plotly graph is not showing a graph - probably some issues with incremental loading.

[2017-03-14 09:44] subhankarb commented on #273
@rufuspollock I updated the description with analysis

[2017-03-14 09:57] #275 closed

[2017-03-14 13:36] subhankarb commented on #278
The issues found:
- Search box is not working.
- Signup in front page not working.
- Navbar
  - Does not have search box.
  - Publish data tab does not work.
  - Find data tab does not work.
  - `Data package` tab does not work.
  - `navbar-header` class should point to `/` instead of `#`

[2017-03-14 16:36] anuveyatsu commented on #266
This is because we've been building on Bootstrap v4 and then changed to v3.
Just need to change class name for `img` element to `img-responsive`.

[2017-03-14 16:59] #266 closed

[2017-03-15 09:38] anuveyatsu commented on #283
FIXED in https://github.com/frictionlessdata/dpr-js/pull/138

[2017-03-15 09:38] #283 closed

[2017-03-15 09:42] anuveyatsu commented on #278
FIXED in https://github.com/frictionlessdata/dpr-api/pull/285 and https://github.com/frictionlessdata/dpr-api/pull/286

[2017-03-15 09:42] #278 closed

[2017-03-16 05:27] subhankarb opened #292 "Server does not know if Browser user is logged in or not"
We are unable to alter server templates and control flow based on the users authentication status if the user is visiting via browser (vs e.g. API)

## Problem
we use JWT and store them in localstorage. Since these are not sent as part of the request to the server there is no way for the server to know if user is authenticated.

## Solution
We can store jwt inside cookie.

## Tasks

- [x] In API a

[2017-03-16 07:37] rufuspollock opened #293 "Update dashboard instructions to use dpm rather than dpmpy"

[2017-03-16 10:32] #273 closed

[2017-03-16 14:30] subhankarb opened #294 "Limit option in search"
As a Publisher I want to see all my packages or search all packages via API

## Solution

pagination (ultimately). Short term solution: limit option with large limit values

## Tasks

* [x] introduce limit keyword for search API with max value of 1000 (default of 20) `?limit={integer}` (cast to integer and if exception set to 20)
  * [x] Write test first!
* [x] change search page and set max to 10

[2017-03-16 14:35] subhankarb opened #295 "Datapackage delete and purge commands are failing"
When we try to execute commands `delete` and `purge` server is responding with error code 500.

## Errors

The error we are getting for `delete` command is `ERROR Error 500. Failed to change status`
The error we are getting for `purge` command is `ERROR Error 500. Failed to delete from db`

When we tag one datapackage we have multiple row for datapackage as  unique key constrain in package table i

[2017-03-16 15:43] subhankarb opened #296 "Custom url_for method to generate url"
We want to generate controller's url from controller's method name. Flask already has `url_for` method. We want to add addition logic to work on our environment.

## Problem

Our application is a lambda function which has API-Gateway in front of it. Lambda function always map to a stage e.g
Let's say API-Gateway's url is `https://aws.{hash}.dpr` then our dev lambda function will map to
`https://aw

[2017-03-17 05:51] subhankarb commented on #295
@rufuspollock I updated the description with my investigation for failing deletion and purging command.

[2017-03-17 06:03] rufuspollock commented on #295
@subhankarb where is the existing test for the delete and purge commands so I can take a look?

From your description this sounds like it also relates to the way we modelled the tag system with a new row for each package -- something we discussed yesterday separately. Can you write up a short analysis of the user story here and the current implementation so we can think about the best way forward.

[2017-03-17 06:23] pwalsh commented on #295
[code]

?

We need something similar to above to not expose the internals of package tagging directly to the application, and following, to have a simpler interface for managing tags without exposing sql alchemy directly to the application.

It makes it easy to add helper methods to Package like "has multiple tags" and so on

[2017-03-17 09:48] subhankarb commented on #292
Cookie is not being for https://staging.datapackaged.com. It works for local environment.

[2017-03-19 07:32] #294 closed

[2017-03-22 06:35] pwalsh opened #298 "Review of user interface"
- [x] in general, the UI is going in a nice minimal direction, but still quite rough. There are lots of little details that need attention before we expose this to users. I do not refer to "bells and whistles", but the most essential aspects of user feedback and guidance, placement of things, removal of elements that do not belong, etc. **[NOT VALID] Work on UI is in process and no specific action

[2017-03-22 07:17] pwalsh opened #299 "Review of code"
- [x] can we remove the zappa stuff completely and host on docker cloud? ( https://github.com/frictionlessdata/dpr-api/issues/258 )
  - *Will fix - see #301* [FIXED]
- [x] As noted in the UI review, the CLI does not work if one follows the instructions.
  - *Agreed and working on fix atm - see #293* [FIXED]
- [x] Where is the production config? https://github.com/frictionlessdata/dpr-api/blob/mast

[2017-03-22 15:03] rufuspollock commented on #299
@pwalsh thank-you for this thorough and really useful review. We'll go through and look at each and address as appropriate.

[2017-03-23 08:27] zelima opened #300 "Improvements for README"
- README asks to add environmental variables, but does not explain what are they and how to get. https://github.com/frictionlessdata/dpr-api#environment-setting
- Simple `export FLASK_CONFIGURATION=test` and `pytest tests` Results in Failing tests:
[code]
- ENV variables in `env.template` are not up to date. They are different from the variable presented in README
- stuck on this step `python mana

[2017-03-23 09:10] rufuspollock opened #301 "Move off AWS Lambda / API Gateway"
We've had a bunch of issues with Lamba / API gateway setup:

* Intermittent errors on site
* Some issues with zappa
* Forced https and complete PITA setting up CNAMEs etc (and apex domains are even worse)
* Complex logging
* The fact the site is deployed at `/staging/` rather than `/`

=>

* Let's move off AWS Lambda
* Let's use:
  * Longer term: (probably) docker
  * Right now: heroku

## Accepta

[2017-03-23 11:31] Fak3 commented on #292
fixes #232

[2017-03-24 21:38] rufuspollock commented on #301
One issue with the ssl: we can't get cloudflare ssl working with bits.xxx.yyy.com because cloudflare wildcards only cover one level [1]. As a result I suggest we move the staging bits to bits-staging.yyy.com (for full production we could use bits.yyy.com)

[1]: https://support.cloudflare.com/hc/en-us/articles/219453397-Can-I-use-Cloudflare-SSL-certificates-on-my-fourth-level-subdomain-

[2017-03-27 05:54] rufuspollock commented on #272
FIXED.

[2017-03-27 05:54] #272 closed

[2017-03-27 10:58] #293 closed

[2017-03-28 06:19] subhankarb commented on #292
@rufuspollock This is working right now. We moved from AWS lambda to heroku.
Previously the cookie was not persisting for `staging.datapackaged.com`, as the source domain name was changing in `API-Gateway`. The intermediate domain change is not happening now.
So now cookie is storing for domain `staging.datapackaged.com` in browser cookie store.

[2017-03-28 07:01] #292 closed

[2017-03-28 08:51] rufuspollock commented on #295
Moving to next sprint as incomplete (analysis nearly done - not yet implemented).

[2017-03-28 08:53] rufuspollock commented on #301
90% done but not quite there in this sprint so moving to next.

[2017-03-28 12:23] zelima opened #305 "Can not sign up with new github account"
There is a bug - if I have not yet registered and want to sign up and already logged into my github account: https://youtu.be/CFf8nLvstVI

* If I am not logged into github then it works OK.
* Also it is OK if I already signed up at datapackaged.

[2017-03-29 04:19] zelima commented on #301
Still remaining things like remove flasks3bucket stuff and cleaning up buckets on AWS s3

[2017-03-29 05:10] zelima opened #307 "Test (Automatedly) the Main Flow (post sign-up) of using dpm"
Test walkthrough of publisher interaction.

- <del> configure </del>
- publish
- tag
- delete
- purge

[2017-03-29 08:59] zelima commented on #301
FIXED all the ansible and zappa stuff removed from code base

[2017-03-29 08:59] #301 closed

[2017-03-29 09:58] rufuspollock commented on #305
@zelima this needs more detail. What **precise** steps reproduce this problem.

[2017-03-29 10:09] anuveyatsu opened #308 "Tutorial Data Package on Simple Views"
As a Publisher I want to understand how I can very quickly and easily add a graph (or table) to my data package.

## Acceptance Criteria

* [x] Tutorial data package on site
* [x] Trialled this with a "new" user (e.g. irakli) and he has signed off (with no coaching!)
* [x] Tutorial data package on github

## Tasks

* [x] create a repo with some sample datapackage but without views
* [x] write a RE

[2017-03-29 10:11] anuveyatsu opened #309 "Vega support for DPR"
As a Publisher I want to add sophisticated graphs (using Vega) to my data package so that others can see how cool the data is

## Acceptance Criteria

* [x] Instructional data package with examples and an excellent README (in a separate repo)
* [x] Have following as Data Packages with vega views
  * [x] http://vega.github.io/vega-editor/?mode=vega&spec=barley
  * [x] (it has data transform) http:/

[2017-03-29 10:12] #295 closed

[2017-03-29 10:33] anuveyatsu commented on #305
1) you need a github account that is not yet registered at datapackaged
2) you need to be signed in into your github account
3) go to staging.datapackaged.com and try to sign up with github.

[2017-03-30 04:31] subhankarb opened #310 "Remove ambiguous db call for user email"
Change sql-alchemy call from `.first()` to `.one()`

## Context

We are getting user email while generating jwt token. While calling db we are using `.first()` method.
Previously we were using auth0. There email id was not unique. We were relying on auth0 user id. But now we are using github for authentication. We changed the DB model to
`email = db.Column(db.TEXT, unique=True, index=True)`
So ema

[2017-03-30 05:32] subhankarb commented on #299
@rufuspollock I updated the review with my investigation. Please take a look.

[2017-03-30 06:55] subhankarb commented on #296
FIXED

[2017-03-30 06:56] #296 closed

[2017-03-30 07:22] zelima commented on #307
FIXED

[2017-03-30 07:22] #307 closed

[2017-03-30 07:31] anuveyatsu commented on #309
@rufuspollock  in the second example graph we have 2 resources for the view. At the moment we can render only with one resource per view. I think we should create a separate issue or even an epic to be able to render a view using several resources.

So I took another example http://vega.github.io/vega-editor/?mode=vega&spec=driving with a single resource.

[2017-03-30 08:02] subhankarb opened #311 "Create production configuration in flusk"
We have dev, staging configuration in flask config. We need a dedicated config for production.

[2017-03-30 08:17] subhankarb commented on #69
WON'T FIX.
We are loading data in dpr-js. So we are not using data stream in dpr-api.

[2017-03-30 08:17] #69 closed

[2017-03-30 08:29] subhankarb opened #312 "Better exception handling"
We have very generic exception and in some places we are even swallowing them.

## Acceptance criteria

- [ ] No exceptions swallowed silently
- [ ] Specific exceptions were possible

## Tasks

- [x] Got through code base and list out all exceptions that are silently swallowed
- [ ] Use specific exception in app/__init__.py
- [x] Change tests.

## Analysis

#### swallowing exceptions

* [x] `get_s

[2017-03-30 08:42] subhankarb opened #313 "Use sql-alchemy's one method in place of first"
https://github.com/frictionlessdata/dpr-api/blob/master/app/package/models.py#L383 we have to use sql-alchemy's one method. So that if there are more than one row it should fail.

[2017-03-30 11:51] anuveyatsu commented on #308
@rufuspollock some comments regarding view types:
* **line graphs:** working just fine.
* **bar charts:** we need to add plotly module - it is very simple so I will just commit that change into master.
* **pie charts:** we currently cannot render pie charts as in Plotly they require different specification of data - instead of `x` and `y` values we need to pass `values` and `labels`.

Please tell

[2017-03-31 05:48] rufuspollock commented on #309
@anuveyatsu please add the driving item to the acceptance criteria here and move the other multi-resource item to the new multiple resource support item as a nice example.

[2017-03-31 05:51] rufuspollock commented on #308
@anuveyatsu re pie charts - as just added to tasks: please leave them out here and create a separate issue for supporting them distinct from this item. You can close this item without doing pie charts.

Re the pie charts: don't necessarily go implement. They are generally poor information design so we may not support them.

[2017-03-31 05:57] #310 closed

[2017-03-31 05:57] #313 closed

[2017-03-31 06:00] zelima commented on #206
FIXED ` JWT_SEED` set as env variable

[2017-03-31 06:00] #206 closed

[2017-03-31 06:00] zelima commented on #313
FIXED

[2017-03-31 06:01] zelima commented on #310
FIXED

[2017-03-31 08:41] #311 closed

[2017-03-31 08:54] anuveyatsu commented on #308
created issue for pie charts https://github.com/frictionlessdata/dpr-js/issues/146

[2017-03-31 08:55] anuveyatsu commented on #308
FIXED see https://staging.datapackaged.com/anuveyatsu/finance-vix and https://github.com/anuveyatsu/tutorial-datapackage

[2017-03-31 08:55] #308 closed

[2017-03-31 08:55] zelima commented on #308
FIXED

[2017-03-31 09:12] anuveyatsu opened #318 "Plotly spec support for DPR"
In the DPR we would like to have a support for Plotly graph spec.
Very similar to https://github.com/frictionlessdata/dpr-api/issues/309

## Acceptance criteria

* [ ] Demo datapackage on the site
* [ ] Demo datapckage on the repo
* [ ] render https://plot.ly/javascript/choropleth-maps/#usa-choropleth-map

## Tasks

* [ ]

[2017-03-31 12:17] zelima commented on #311
FIXED

[2017-04-03 19:11] zelima opened #319 "Create example data packages"
*Excellent: elegant, easy to understand, good demonstrations.*

### Acceptance Criteria

* Basic range of examples
  * Data types:
    * Tabular
    * Geo - map
    * Tabular + Geo
    * Mixed (? - could be part of a vega example)
  * Views
    * Simple view - could combine with simple data
    * Multiple views
    * Vega examples (several)
* Each data package should function as interesting and us

[2017-04-03 19:13] zelima opened #320 "Improve the API documentation"
API docs would benefit from tidying up http://staging.datapackaged.com/apidocs/index.html.

## Acceptance Criteria

* [ ] Good (succinct, understandable grammatically correct) description for all API stuff

## Review

- auth
	- [x] GET `/api/auth/callback`  -
		-  endpoint accepts no argument, returns 500 in any case https://staging.datapackaged.com/api/auth/callback.
		- description says: "This i

[2017-04-03 19:18] zelima opened #321 "Fix the invalid year/date for some of datapackages"
Some of the datapackages Like [Purchasing power parity (PPP)](http://staging.datapackaged.com/core/ppp) fail to load data

Error message: `Wrong type for header: Year and value: ////`

## Suggested solution

One suggested solution would be to change type for `Year` column to `number`  - this worked for https://staging.datapackaged.com/core/ppp

[2017-04-04 05:26] zelima opened #322 "Addd google analytics"

[2017-04-04 06:10] #322 closed

[2017-04-04 07:12] anuveyatsu commented on #309
FIXED in https://github.com/frictionlessdata/dpr-api/commit/212ef5ee9d8a6345a817e9456cb595fad1fa9b9a

Last PR in https://github.com/frictionlessdata/dpr-js/pull/149

[2017-04-04 07:12] #309 closed

[2017-04-06 07:11] zelima commented on #319
FIXED

[2017-04-06 07:11] #319 closed

[2017-04-06 10:36] rufuspollock commented on #259
FIXED. We'd done this last sprint but were keeping open for minor part of last item. Given we don't have a clear resolution on that (date rendering in tables) I'm closing.

[2017-04-06 10:36] #259 closed

[2017-04-06 10:38] rufuspollock commented on #190
WONTFIX. We will probably do this some time but not any time soon so closing.

[2017-04-06 10:38] #190 closed

[2017-04-06 10:43] zelima opened #324 "Check if all core package are published and working fine"
There are 58 core datapackages that need to be review one by one and be checked whether they are working fine or not. Some of them Eg: https://staging.datapackaged.com/core/ppp is not rendering table as cause of error `Wrong type for header: Year and value:`. Such and possibly other errors might have broken other core data packages.

## Acceptance Criteria

- [x] **ALL** core packages are checked

[2017-04-06 10:44] zelima commented on #324
FIXED.
list of core datapackages with error messages and statuses: https://docs.google.com/spreadsheets/d/1vq5dSLyh5vq7M35rk4dC6XvCQ4THvT8cPgAtWDuX1Cw/edit#gid=0

[2017-04-06 11:01] zelima commented on #324
Let's automate this!

[2017-04-06 15:44] anuveyatsu opened #325 "Publisher page is loading for not existing users"
E.g., when I go to random user's page, which very likely does NOT exist, it still loads a publisher page:
http://staging.datapackaged.com/lkndslfsdflksfnlkasdknlasd

## Acceptance criteria

- [x] Non existing users page (or any other) should result with `404 page not found`

## Tasks

- [x] write tests
- [x] refactor code

[2017-04-07 09:53] zelima commented on #324
FIXED
We have automated script in https://github.com/frictionlessdata/dpm-py/tree/master/examples
Script tries to publish datapackages and documents the ones that could not be published , by creating the file named `not_published.txt`
After it checks if all published datapackages are fine and working OK, logs in stdout if any of them have problems.

### current outcome

[code]

[2017-04-07 12:21] zelima opened #326 "Remove class Catalog from code base"
Catalog class was responsible for reformatting datapackage.json so that it has URL to data on bitstore, owner, publisher, etc...
Data retrieve is not done from server any more, but from frontend JS, meaning this class is not used any more.

### analyzes

going through the code discovered, that except adding URL's for data proxy, class `Catalog` is actually doing useful things like getting views, a

[2017-04-07 12:29] zelima opened #327 "Improve search"
Unfortunately the search is really bad: https://github.com/frictionlessdata/dpr-api/blob/master/app/search/models.py#L23 but we can get much better without introducing a dedicated search engine: http://rachbelaid.com/postgres-full-text-search-is-good-enough/

## tasks

#### short term
do: search on title and readme with very heavy weighting on title.

TODO: long term...

[2017-04-07 12:37] zelima opened #328 "Remove general logic that is inlined with route handlers"
There is an undesirable pattern through all this code of having general logic inlined with route handlers. As the codebase grows, this gets unmanageable very quickly, and leads to duplication of logic and introduction of bugs. example, have a README util that gets called in the handler, rather than inlining the README processing logic: https://github.com/frictionlessdata/dpr-api/blob/master/app/si

[2017-04-07 14:49] rufuspollock commented on #324
FIXED.

[2017-04-07 14:49] rufuspollock commented on #324
@zelima please open a follow up issue (linked from here) to fix these issues and:

* see if logs yield any info about 500 errors)
* summarize what is the problem with the 28 unpublished packages

[2017-04-07 14:52] rufuspollock commented on #319
@zelima @anuveyatsu i'm going to leave this FIXED on this occasion but it was a close one :wink:. @zelima please open a follow up issue to document all the outstanding items.

Key learnings:

- Do one example package first and really polish until it is correct then do the others
- Use this as a dogfooding exercise and it is worth taking the time to make core fixes to make your life easier e.g. the

[2017-04-07 19:53] anuveyatsu opened #329 "[UI] Search page"
Currently, search page does not look good: https://staging.datapackaged.com/search?q=
We want it to look simple, clear and elegant, e.g.: https://www.npmjs.com/search?q=datapackage&page=1&ranking=optimal

## Analysis

We will implement [NPM example](https://www.npmjs.com/search?q=datapackage&page=1&ranking=optimal) as it looks very simple and information it is displaying very similar and suitable

[2017-04-07 20:05] anuveyatsu opened #330 "[UI] Improvements and fixes"
As an outcome from #298

## Tasks

- [x] credits are missing: OKI, Datopian, Sloan, etc.
- [x] swagger / api spec - recommend we don't consider this v1 yet (I recommend we follow semantic versioning, so we should keep this below v1 for a couple of months at least) @irakli
- [x] page on logout needs a little work #344
- [ ] ~~metadata button - triggers a download for the DP descriptor - why call it

[2017-04-08 04:01] zelima opened #331 "Fix core packages that have validation errors"
Almost half of the core  packages are not published cause they do not pass datapackage validation

Why do we care that data is valid? (This is worth asking as sometimes we can get obsessed with validation and forget why we do it). We want valid data packages so that:

* Page rendering works (we don't get 500 errors because license is an array rather than string or vice versa)
* Graph rendering wor

[2017-04-08 04:14] zelima commented on #324
Follow up here https://github.com/frictionlessdata/dpr-api/issues/331

[2017-04-08 04:20] anuveyatsu opened #332 "[UI] Data Page with a new theme"
We need to work on Data Page UI to make it user friendly, simple and aligned with our front-page theme.

## Tasks

- [ ] mock up #281
- [ ] implementation #282

[2017-04-08 04:21] zelima opened #333 "Improve example packages"
We have example Data Packages https://staging.datapackaged.com/examples

## Acceptance criteria

- [x] we have few (2-3), but good example data packages that are clear and easy to understand of how to create desired views
- [x] Any new user can easily add desired view to his/her Data Package, by just looking at the example package

## Tasks

- [x] fix-ups according to feedback on existing ones
- [

[2017-04-08 04:22] anuveyatsu commented on #245
CLOSING as Data Page part now moved into #332

[2017-04-08 04:22] #245 closed

[2017-04-08 04:27] zelima commented on #319
Follow up here https://github.com/frictionlessdata/dpr-api/issues/333

[2017-04-08 04:33] anuveyatsu opened #334 "[UI] Publisher Page improvements"
* don't need to know the 1000 of a second
* want to know how many packages I published.
* who's is this? who is this stuff belongs to?

https://staging.datapackaged.com/core

https://github.com/frictionlessdata

https://www.npmjs.com/~okfn

## Mockup

![image](https://cloud.githubusercontent.com/assets/17809581/24862519/bc568038-1e1e-11e7-9573-02e86ff2b826.png)

## Tasks

- [x] reuse `search` page

[2017-04-08 04:36] rufuspollock commented on #324
500 errors:

* ...

See Issue xxx for the fixing of these.

28 unpublished:

* are all data validation issues: see #331 for a list of them and plans to fix.

[2017-04-08 04:36] #324 closed

[2017-04-08 04:41] rufuspollock commented on #321
@zelima i think we want to think more about the exact solution. Switching to number is not really correct IMO. See discussion in https://github.com/frictionlessdata/dpr-js/issues/121

Options:

* Change type to new `year` type (in upcoming release - but not supported in current js lib!)
* Change to type `date` with format filed as per https://github.com/frictionlessdata/dpr-js/issues/121
* Turn of

[2017-04-08 04:46] rufuspollock commented on #318
@anuveyatsu and I have done analysis on this in some detail and now know what we need (see hackmd data view appendix on this). For now, not an immediate priority so moving to backlog.

[2017-04-08 04:47] rufuspollock commented on #299
Nearly done but a few outstanding items.

[2017-04-10 04:37] rufuspollock commented on #329
@anuveyatsu i'd say NPM is great but a little terse! Adding a bit more info is good here. Esp a long extract from the README.

[2017-04-10 06:18] zelima opened #335 "Geo data packages are throwing 500 Internal Server Error"
Following packages have problems after publishing:

https://staging.datapackaged.com/core/geo-nuts-administrative-boundaries | status code: 500
https://staging.datapackaged.com/core/geo-countries | status code: 500
https://staging.datapackaged.com/core/geo-admin1-us | status code: 500
https://staging.datapackaged.com/core/geo-ne-admin1 | status code: 500

### heroku logs

For full logs see heroku

[2017-04-10 12:24] zelima opened #337 "Local development should not be depended on remote instances such as AWS or Github"
currently it is impossible to prepare application for local development without providing valid AWS/Github credentials, s3 bucket name or region Eg:

- `python manager.py populate` throws `ClientError` when running without valid AWS credentials
[code]
- `EndpointConnectionError` - if invalid aws region or bucket name provided
[code]

### Tasks

- do analyzes how to avoid this while local developme

[2017-04-11 03:39] #300 closed

[2017-04-11 03:40] zelima commented on #300
FIXED

[2017-04-11 03:47] zelima opened #339 "Get all the Emails for users from github API"
We are still not getting a guaranteed user email -- only getting an email if it is public.
Results of that:

- gravatars are broken (we have generic gravatar)
- we cannot email them if needed (almost certainly will need)

# analyzes

Reason and solution for this is in http://stackoverflow.com/questions/35373995/github-user-email-is-null-despite-useremail-scope

To get private emails we need to cal

[2017-04-11 04:26] rufuspollock commented on #327
Moving to backlog. I've thought and thought about this and it is **not** part of MVP IMO.

[2017-04-12 04:07] zelima commented on #321
This now becomes DUPLICATE of #331

[2017-04-12 04:07] #321 closed

[2017-04-12 04:26] anuveyatsu commented on #329
FIXED in https://github.com/frictionlessdata/dpr-api/pull/338

[2017-04-12 04:26] #329 closed

[2017-04-12 04:26] anuveyatsu commented on #334
FIXED in  https://github.com/frictionlessdata/dpr-api/pull/338

[2017-04-12 04:26] #334 closed

[2017-04-12 05:46] zelima opened #342 "Add tests for data package publish"
currently tests cover only PUT method for publishing data package on  `api/<publisher>/<package>` endpoint. We do not have any test for  POST (taging) method on  `api/<publisher>/<package>/tag` that is actually used for publishing packages.
As we removed PUT method for publishing packages now we are out of tests.

## Tasks

- [ ] add tests for POST method on ``api/<publisher>/<package>/tag``

[2017-04-12 05:51] zelima commented on #342
INVALID we do actually have tests for tagging therefore for publishing

[2017-04-12 05:51] #342 closed

[2017-04-12 11:48] #320 closed

[2017-04-12 11:49] #326 closed

[2017-04-12 19:05] zelima commented on #335
Exploring the code further discovered that all 4 Data Packages have common issue:

Inside datapackage.json all of them have property `licenses` that are set as objects Eg https://github.com/datasets/geo-nuts-administrative-boundaries/blob/master/datapackage.json#L20
[code]

Following the description of required and optional properties for a Data Package descriptor https://specs.frictionlessdata.io

[2017-04-13 04:54] anuveyatsu opened #344 "Logout page needs a little work"
We need to have very simple message saying that a user is logged out. At the moment, logout page does not have any styles:
![image](https://cloud.githubusercontent.com/assets/17809581/24990687/84f1eb8a-2037-11e7-8ddf-4d518a727cfd.png)

## Acceptance criteria

* [ ] Simple and short message after logged out
* [ ] Page styling is aligned with other pages

## Tasks

- [ ] Edit the template accroding

[2017-04-14 08:09] rufuspollock commented on #339
@zelima - great to see this done. Couple of minor process improvements:

* we need a FIXED comment as well as closing in a commit (see our process guide)
* Also, it would be good to have had clearer analysis including acceptance criteria and tasks

[2017-04-14 09:19] zelima commented on #339
We do note have test for case where there is no public email and we have to perform a second request, because was not able to work out how to mock two different responses for `flask_oauthlib.OAuthRemoteApp.get` - Need help here

[2017-04-14 09:34] rufuspollock opened #346 "Transform data from resources before display in DP view"
We want to transform data (e.g. pivot, filter) before displaying in a view such as a table or a graph so that we can present the data usefully. E.g.

* Data is often normalised (e.g. year, country, value) and we want it unnormalized (e.g. year, country1, country2, country3 ...)
* Data needs to be filtered to show the right part of the data (or a manageable amount of data)

## Acceptance criteria

[2017-04-14 14:48] anuveyatsu opened #347 "Render README markdown in safe mode"
Render README markdown in safe mode (disallow <script>)

## Analysis

Using HTML tags along with Markdown is convenient for wide range of users - e.g. some may not know Markdown syntax. However, we cannot allow all HTML tags to be used as that would make our site insecure (e.g. XSS). We need to have a list of HTML tags, attributes etc., that are considered safe. We could use GitHub's whitelist of

[2017-04-14 15:17] anuveyatsu opened #348 "Add GitHub Flavoured Markdown extension"
At the moment, we're using [flask markdown][flask-markdown] to render markdown documents. We want to add a GFM extension so our preprocessor becomes more functional.

## Analysis

There are 2 options:

1) Add extension to our current markdown processor, e.g. using [py-gfm][py-gfm]:
[code]

2) We could replace [flask markdown][flask-markdown] with [misaka][misaka].

After we add GFM support, we may

[2017-04-14 15:22] anuveyatsu opened #349 "Embed HTML-ified DataPackage.json in Rendered README"
User stories:

As a Potential Publisher I want to see data package descriptor so I can learn how the views on the page are built.

- And how data package descriptors work generally

=>

As a Publisher I want to embed data package descriptor (datapackage.json) in my (rendered) README so that I can comment on it and illustrate specific points (so that others can learn how I built my data package and

[2017-04-15 06:45] anuveyatsu commented on #347
FIXED in https://github.com/frictionlessdata/dpr-api/commit/3be8ddcefdf384b928714e3e6a9a3b834c7464cb

[2017-04-15 08:12] anuveyatsu commented on #347
We need to escape **only** `<script>` tags, not all HTML tags.

[2017-04-16 13:38] rufuspollock commented on #347
@anuveyatsu looks excellent. Added a small comment indicating why we are thinking of using bleach and not `safe_mode`.

In terms of implementation:

* This markdown stuff should be in a helpers section of the site - and used from controller (should definite not be in the controller)
* The preparation of a data package for rendering should be done in a logic section of the app (and that logic metho

[2017-04-17 07:12] zelima opened #350 "Understand use of datapackage pipelines"
We want to  use data package pipelines so that we can see where they would be relevant and what it would take to use them.

## Tasks

* [x] Read up on data package pipelines and understand what they are and how they work - what problems do they solve
  - Review meeting docs
  - Review meeting recording
* [x] Read up on and learn about related technologies
  * [x] Docker - TODO: link to notes
  * [

[2017-04-17 09:14] rufuspollock commented on #339
@zelima you need to explain your problem in more detail. Link the current test and explain what you want to do ...

[2017-04-17 09:28] rufuspollock commented on #335
@zelima what about our discussion about the fact this was causing a 500 error. Whilst we can fix this immediate issue by fixing the data packages what about similar issues in future. We need to think about where in the system we handle "bad" data packages.

[2017-04-17 09:53] rufuspollock commented on #346
@anuveyatsu we don't want to post massive analysis into the description. Plus, that stuff was already in the hackmd on data package views - so let's keep it there. Instead, this issue is lacking tasks and acceptance criteria. I imagine the first task + acceptance criteria would be around researching what's out there we could use and esp vega transforms. Later tasks would then be about implementing

[2017-04-17 10:11] rufuspollock commented on #350
@zelima please:

* Inline from meeting doc the "why" (i.e. what we can use DPP for)
* Create acceptance criteria e.g.
  * Have clear needs identified that DPP address
  * identify a MVP
  * understand what steps would be involved in an implementation of the MVP (created a new epic for this)

[2017-04-18 05:43] zelima commented on #339
@rufuspollock I have a code snippet https://github.com/frictionlessdata/dpr-api/blob/master/app/auth/controllers.py#L56
[code]
This makes to different API calls in different cases - `https://api.github.com/user` and if not found public Email: `https://api.github.com/user/emails`
All this is done by `get()` method of `0auth.remote_app`

In the mocks we are trying to stub the return value of `get()`

[2017-04-18 06:03] zelima commented on #335
@rufuspollock I updated description of the issue with analysis.

As discussed there we have 3 possible options. Personally I think most reliable way to avoid this kind of error in the future is 3rd option (to modify validation script and worn users before publishing). But think this is more long term vision

For short term and quick fix I would do 2nd option (fix this server side) - check type of

[2017-04-18 09:28] rufuspollock commented on #339
@zelima first, great write up of the problem.

Second, we need to think conceptionally. What do you want to mock and how? Specifically, here you could mock:

* Stub out `github.get` in the library
* Mock out http requests like nock does for node - https://github.com/node-nock/nock (this is what we use in dpr-js). Basically, here we mock out underlying http calls.
  * question: does something like

[2017-04-18 12:21] anuveyatsu commented on #349
@rufuspollock probably it worth to replace `dpjson` variable with markdown not html. So basically we just wrap json object with markdown code block.

[2017-04-18 17:00] anuveyatsu commented on #347
FIXED in https://github.com/frictionlessdata/dpr-api/pull/351

[2017-04-18 17:00] #347 closed

[2017-04-18 17:00] anuveyatsu commented on #348
FIXED in https://github.com/frictionlessdata/dpr-api/pull/351

[2017-04-19 07:08] anuveyatsu commented on #348
We're sanitizing HTML first and then converting to HTML. This causes some bugs, e.g. `>` symbols that used for blockquotes in markdown are escaped so not converted into `<blockquote>` tag. We need to markdownify first and then sanitize HTML.

Also would be a good to implement code highlighting. In fact, `py-gfm` is already adding appropriate tags and classes, all we need to do is to add stylings f

[2017-04-19 09:59] rufuspollock commented on #348
@anuveyatsu please add a separate issue about code highlighting or modify this issue to include.

Good spot re the problem of escaping -- and something I imagine we spotted in tests (if not, we should have a test that would have shown it up and then fix that test).

[2017-04-19 12:17] anuveyatsu commented on #348
FIXED in https://github.com/frictionlessdata/dpr-api/pull/352

Test case for markdown's blockquote support - https://github.com/frictionlessdata/dpr-api/commit/11f12fb492544edc021243011fb404cde994c171

[2017-04-19 12:17] #348 closed

[2017-04-19 13:04] zelima commented on #339
FIXED we get Emails in any case - private or not. Both options are under tests

[2017-04-19 13:04] #339 closed

[2017-04-19 13:28] anuveyatsu commented on #349
FIXED in https://github.com/frictionlessdata/dpr-api/pull/353

[2017-04-19 13:28] #349 closed

[2017-04-19 13:31] zelima opened #355 "Handle datapackage.json that may cause 500 errors"
Sometimes we have cases, when datasets pass the Data Package validation and are published, but still throwing 500 errors.

### Tasks

- [x] discuses the pros and cos for all available options (see below) or suggest new, better ones
- [x] decide which option better fits us (see solutions part)
- [ ] Implement

### Analysis

Reason for this is that even after validation there still may remain beyond

[2017-04-19 13:46] zelima commented on #335
FIXED all 4 Data Packages are live and working fine

[2017-04-19 13:46] #335 closed

[2017-04-24 13:49] rufuspollock opened #356 "Design Data Package Pipelines Trial"
We anticipate Data Package Pipelines can be very useful for performing automated tasks such as scraping and merging -- as well as a demonstration of how to build and deploy async worker infrastructure.

However, as yet we have not used Data Package Pipelines and so we need to:

* Research and understand them better
* Design an MVP trial to test them out and deliver some immediate value

[DPP Meeti

[2017-04-24 14:03] rufuspollock opened #357 "Identify use cases we have where DP Pipelines are relevant"
To have a clear Idea what are DataHub needs that could benefit from DP Pipelines  list of use cases where DPP are relevant

## Acceptance Criteria

* [x] we have 3-4 clear, easily understandable use cases, listed out in "analysis" section

## Tasks

* [x] Understand our needs and understand how data package pipelines relate to those needs
  - Review meeting docs
  - Review meeting recording

## An

[2017-04-24 14:26] zelima commented on #350
FIXED see analyzes section above

[2017-04-24 14:26] #350 closed

[2017-04-25 05:01] zelima opened #358 "Design a trial usage of DP Piplelines - "MVP""
TODO: description

## Acceptance Criteria

TODO

## Tasks

TODO

[2017-04-25 05:35] anuveyatsu opened #359 "Home Page improvements"
The home page needs to have placeholders sorted / content correct.

## Tasks

*Task list for a non-epic issue*

* [ ] ...
* [ ] ...

## Analysis

*This section is optional. It is where you provide further analysis of the problem and analyze potential solutions, ending with a recommendation and tasks (the tasks are usually moved out into the tasks section above)*

[2017-04-26 06:53] zelima commented on #331
Moving to backlog for now as no clear decisions how to fix this

[2017-04-26 07:44] zelima commented on #73
FIXED / OUTOFDATE we are channeling to the S3 system directly

[2017-04-26 07:44] #73 closed

[2017-04-26 11:51] zelima commented on #243
FIXED. Out of date - can not reproduce this any more. Feel free to reopen if this still remains as issue

[2017-04-26 11:51] #243 closed

[2017-04-26 12:13] zelima commented on #242
Updated with acceptance criteria, tasks and analysis

[2017-04-27 08:14] rufuspollock commented on #258
FIXED / INVALID. No longer an issue since we moved off zappa and lambda.

[2017-04-27 08:14] #258 closed

[2017-04-27 08:15] rufuspollock commented on #244
@pwalsh @akariv any thoughts? Otherwise planning to close as WONTFIX.

[2017-04-27 10:31] zelima opened #361 "Analysis and planning for sprint 8 May 2017"
Before we add the issues to current milestone, we need to do analysis for them and decide whether we do them in current milestone or no. We need to track time for doing this.

## Acceptance Criteria

* [x] all issues with `Stage: analysis` have proper analysis
* [x] issues moved into current milestone are estimated

## Tasks

* [x] List out all the issues
* [x] Go through the list and do analysis

[2017-04-28 07:46] rufuspollock commented on #312
@zelima one comment - i don't mind using generic exception object `Exception` as long as we have a good message (trying to create specific types of exception as classes is usually pointless at this stage -- it only matters if you are later trying to catch only a specific type of exception).

[2017-04-28 09:03] #344 closed

[2017-04-28 09:54] zelima commented on #232
FIXED was fixed with #292

[2017-04-28 09:54] #232 closed

[2017-04-28 10:06] zelima commented on #327
Leaving this to backlog as I need to first learn about search and then try and deal with this

[2017-04-28 10:18] zelima commented on #355
@rufuspollock If it is ok to fix (hack) this on server side for now, let's do this in this milestone.

[2017-04-28 16:39] rufuspollock commented on #355
@zelima - agree with working on this issue. Re the analysis:

- you want to think at the general level - not just this specific item of licenses but how to "normalize" and validate datapackage.json generally
  - do you understand what i mean by "normalize"
- how and where would you do this in the system? e.g. on datapackage.json import to MetaStore, or attempt to render or ...
- how would you hand

[2017-04-29 23:44] rufuspollock opened #363 "Showcase page: redesign for great UX esp re getting the data"
Redesign data showcase page for great UX esp re getting the data (download, into R, into python)

**User stories**

showcase page - I want to know who, what, when, how I can get it and use it = download + format

As a Consumer I want to get the data from a package as quickly and easily as possible so that I start using it to generate insight

* Want to download it (in convenient format e.g. CSV or

[2017-05-01 05:54] zelima commented on #361
FIXED

[2017-05-01 05:54] #361 closed

[2017-05-01 05:55] rufuspollock commented on #242
@zelima good work and much clearer.

One item: i don't understand the `if 'version' not in data` snippet - what is it doing and why would we change to 404? BTW we don't need different error codes for different errors - we just need different error messages.

Finally, could you estimate this issue.

[2017-05-01 16:24] anuveyatsu opened #364 "Configurable list of "best" packages to show"
On the front page, we want to show the best 3 (or more) packages from core publisher + 3 (or more) example packages. We want to have some list and be able to configure it when needed.

## Acceptance Criteria

* [x] Can configure list of "best" packages using `xyz/abc` styling naming (publisher name and package name)
* [x] Can configure list of "tutorial" packages similar to core

## Tasks

* [x] r

[2017-05-03 08:24] rufuspollock opened #368 "[epic] Overhaul theme and UX of site for alpha launch (May 2017)"
Do another round on site UX and have everything working (=> hiding/removing things that are not yet working well enough like publishing).

## Acceptance Criteria (for epics or "big" issues)

* [x] Site looks awesome
* [x] Nothing left that is not working

## Tasks

* [x] showcase page - #363
* [x] Front page @shiewie @anu
  * [x] Redesign
  * [x] Show Best packages and Examples packages - #364

[2017-05-03 08:33] rufuspollock opened #369 "Redesign the data showcase page and improve UX"
## Acceptance Criteria

* [ ] ...
* [ ] ...

## Tasks

* [ ] Great data access UX - #363

## Analysis

[2017-05-03 08:34] rufuspollock commented on #369
INVALID / DUPLICATE of #363

[2017-05-03 08:34] #369 closed

[2017-05-03 08:37] zelima commented on #330
FIXED

[2017-05-03 08:37] #330 closed

[2017-05-03 08:42] zelima commented on #333
FIXED 5 example packages created http://datapackaged.com/examples

covering:

- simple graph spec  http://datapackaged.com/examples/simple-graph-spec
- GeoJson - http://datapackaged.com/examples/geojson-tutorial
- vega graph spec
  - http://datapackaged.com/examples/vega-views-tutorial-topojson
  - http://datapackaged.com/examples/vega-views-tutorial-grouping
  - http://datapackaged.com/examples/v

[2017-05-03 08:42] #333 closed

[2017-05-03 12:50] #312 closed

[2017-05-03 13:36] zelima commented on #312
FIXED

[2017-05-03 15:50] anuveyatsu commented on #363
Screenshots of work so far (re data showcase page):

![image](https://cloud.githubusercontent.com/assets/17809581/25669138/7ee0d684-304a-11e7-9676-b03f989d96ae.png)

[2017-05-03 16:35] anuveyatsu commented on #364
FIXED in #372  and #373

[2017-05-03 16:35] #364 closed

[2017-05-04 05:24] zelima commented on #234
FIXED website is up https://datapackaged.com

[2017-05-04 05:24] #234 closed

[2017-05-04 06:05] anuveyatsu opened #375 "New design for Search Page"
We want Search Page to be aligned with general site design and theme.

## Acceptance Criteria (for epics or "big" issues)

* [ ] to look similar as the mockup
* [ ] everything is working on the page (buttons etc.)

## Tasks

*Task list for a non-epic issue*

* [x] create a mockup - see below [2h]
* [x] implement mockup [2h]
  * [x] merge with previous design - keep key information such as search s

[2017-05-04 06:16] zelima opened #376 "Use marshmallow for Serialization and deserialization in logic"
Serialization and deserialization of sqlalchemy objects for use in the API and UI are being done in our own bespoke (custom) manner. There are standard libraries that do this like [marshmallow][mm] and we should use them.

[mm]: https://flask-marshmallow.readthedocs.io/en/latest/

Plan: Use marshmallow (and marshmallow-flask in logic / controller layer for serialization and deserialization. Replac

[2017-05-04 07:21] anuveyatsu commented on #375
@rufuspollock can you please take look at this. Without borders, it does not look great. Also, I am not sure about the background color - see the second screenshot below. I think must be as neutral as possible - keeping white would be better IMO.

![image](https://cloud.githubusercontent.com/assets/17809581/25693524/92044d78-30cb-11e7-8db9-52ced1d34621.png)

![image](https://cloud.githubuserconten

[2017-05-04 10:16] anuveyatsu commented on #375
Updated with new background color:

<img width="1280" alt="screen shot 2017-04-30 at 23 27 59" src="https://cloud.githubusercontent.com/assets/17809581/25699454/0b76cf1e-30e5-11e7-8814-6c4e1e4b597e.png">

[2017-05-04 17:04] anuveyatsu commented on #375
FIXED in https://github.com/frictionlessdata/dpr-api/pull/379

Current layout:

<img width="1280" alt="screen shot 2017-05-04 at 22 58 21" src="https://cloud.githubusercontent.com/assets/17809581/25715451/4c956f4a-311d-11e7-9e93-3b6c9eb82db8.png">

[2017-05-04 17:04] #375 closed

[2017-05-05 05:16] rufuspollock commented on #299
@zelima I think we can mark as FIXED once logic stuff is done today / monday. Just search will be left and I think we can close with comment that search is left see issue #327

[2017-05-06 07:04] anuveyatsu opened #382 "Website layout on smaller devices"
So far we've been developing the site for laptops and desktop computers, but it does not look correct on smaller devices such as tablets and smartphones.

## Acceptance Criteria

* [x] to look clear, aligned readable on smartphones (small and large)
* [x] to look clear, aligned readable on tablets

## Tasks

* [x] Front page
  * [x] smartphones
  * [x] tablets
* [x] Showcase page
  * [x] smartphon

[2017-05-06 10:32] Mikanebu opened #383 "R and Pandas instructions for using Data Package"
User stories:
*As a Consumer [R user] I want to load a Data Package from R so that I can immediately start playing with it*

*As a Publisher I want to send a link to an R user colleague about how to use my data so that they can grab it and start using it*

*As a Consumer [Python user] I want to load a Data Package from Python using pandas, so that I can immediately start playing with it.*

*As a P

[2017-05-07 10:00] Mikanebu commented on #383
@rufuspollock We discussed about implementation of this in front page. We can following:

[code]

[2017-05-07 17:35] rufuspollock commented on #383
@Mikanebu i don't think we want this on the front page - we want it on the data showcase page for each data package (and also in the docs potentially).

[2017-05-08 05:34] anuveyatsu commented on #363
Current page layout:

![image](https://cloud.githubusercontent.com/assets/17809581/25791448/379f07d2-33e2-11e7-8fb9-0f5e96f1d69b.png)

[2017-05-08 05:39] Mikanebu opened #385 "Javascript, Python and SQL instructions for using Data Package"
User stories:
*As a Consumer I want to download a DataPackage’s data one coherent SQLite database so that I can get it easily in one form*

*As a Publisher I want to send a link to an SQL/SQLite Database user colleague about how to use my data so that they can grab it and start using it*

*As a Consumer [Javascript user] I want to load a Data Package from Javascript, so that I can immediately star

[2017-05-08 08:08] zelima commented on #357
FIXED. See analysis section for use cases

[2017-05-08 08:08] #357 closed

[2017-05-08 10:55] anuveyatsu commented on #383
FIXED in https://github.com/frictionlessdata/dpr-api/commit/0581907b087db89a01deefb3d6d398c8c4e410bf

Screenshot:
![image](https://cloud.githubusercontent.com/assets/17809581/25801355/07de7e74-340f-11e7-8039-558e32aeb89f.png)

[2017-05-08 10:55] #383 closed

[2017-05-08 11:06] anuveyatsu commented on #363
FIXED - new mockup implemented + R and Pandas instructions ( #383 )

Current showcase page layout:

![image](https://cloud.githubusercontent.com/assets/17809581/25801517/bbd3d1cc-340f-11e7-8924-eceea2bee3ad.png)

[2017-05-08 11:06] #363 closed

[2017-05-08 11:17] zelima commented on #328
FIXED

[2017-05-08 11:17] #328 closed

[2017-05-08 11:18] anuveyatsu commented on #368
FIXED - browse the website for current look:
https://staging.datapackaged.com/

[2017-05-08 11:18] #368 closed

[2017-05-08 11:19] anuveyatsu commented on #298
FIXED - see corresponding issues from the description.

[2017-05-08 11:19] #298 closed

[2017-05-08 11:23] zelima commented on #299
FIXED. each issue is fixed or marked as wontfix. The only outstanding issue about search is #327

[2017-05-08 11:23] #299 closed

[2017-05-08 11:24] zelima commented on #376
Moving in next milestone as this is quite big refactor and did not fit in time

[2017-05-08 13:02] anuveyatsu commented on #368
Current website look:

![image](https://cloud.githubusercontent.com/assets/17809581/25805239/dfc6928e-3420-11e7-94ee-9c119f97dd03.png)

[2017-05-08 13:12] zelima commented on #376
This one needs big refactor so moving to next milestone - Did not fit in time

[2017-05-08 13:13] anuveyatsu commented on #382
This issue will be fixed in the next milestone 22nd May 2017.

[2017-05-08 13:14] anuveyatsu commented on #346
We've tried out Vega Dataflow separately, next we need to integrate into Datapackage-render-js in the next milestone 22nd May 2017

[2017-05-09 04:30] anuveyatsu opened #388 "[ux] Showcase page improvements"
After reviewing Data Showcase Page on 8 May 2017, we have received several reasonable feedbacks that should be fixed.

## Acceptance Criteria

* [ ] All points from feedback are considered and fixed

## Tasks

* [x] Descriptor should be separated from download. It is much less important. I’d put it in the key info (and probably give it its full name likke “Data Package Descriptor (JSON)”)
* [x] Wo

[2017-05-09 04:43] anuveyatsu opened #389 "Pygments style highlighting on code blocks"
Currently, our code blocks on showcase page are not highlighted according to its language. The highlight would ease reading of the code snippets, so we want to implement Pygments style highlighting here.

![image](https://cloud.githubusercontent.com/assets/17809581/25836641/573c2e80-34aa-11e7-8c96-fd79cf6e1ae3.png)

## Acceptance Criteria

* [x] Code blocks in the instructions are highlighted
* [x

[2017-05-09 10:01] Mikanebu opened #390 "Error on getting Data Package from https request"
Importing Data Package using datapackage-py library comes with an error when we use SSL connection. Only works for http request. Error displayed:
[code]

## Acceptance Criteria

* [ ] Imports data without an error from Python2
* [ ] Imports data without an error from Python3

## Tasks

*Task list for a non-epic issue*

* [ ] Check from other sources such github datasets etc.
* [ ] Check Security r

[2017-05-09 10:47] anuveyatsu commented on #388
@rufuspollock re: list of formats, can you please take a look at screenshot below. Colours are default ones for now:

<img width="304" alt="screen shot 2017-05-09 at 16 45 57" src="https://cloud.githubusercontent.com/assets/17809581/25847253/2171157c-34d7-11e7-90e6-80dff6548136.png">

[2017-05-10 06:16] zelima commented on #325
FIXED

[2017-05-10 06:16] #325 closed

[2017-05-10 07:43] Mikanebu commented on #385
FIXED in https://github.com/frictionlessdata/dpr-api/pull/394

[2017-05-10 07:43] #385 closed

[2017-05-11 06:39] anuveyatsu commented on #389
FIXED in https://github.com/frictionlessdata/dpr-api/pull/396

In instructions:
![image](https://cloud.githubusercontent.com/assets/17809581/25935826/c3d3eedc-3646-11e7-99c5-f12d130b87ac.png)

In README:
![image](https://cloud.githubusercontent.com/assets/17809581/25935851/df64144c-3646-11e7-847c-b91d91de112d.png)

[2017-05-11 06:39] #389 closed

[2017-05-11 06:40] zelima commented on #355
FIXED see solution section in analyses

[2017-05-11 06:40] #355 closed

[2017-05-11 11:54] rufuspollock opened #397 "Can switch over data.okfn.org/data to this site"
We can switch over data.okfn.org to this new datahub so that users of data.okfn.org benefit from all the improvements in the new site including much greater reliability (old site now has timeouts on data access quite often), better graphs, more elegant and better ux on showcase.

## Acceptance Criteria

* [ ] Stable domain we can redirect and redirection for both pages and for resource links
* [ ]

[2017-05-11 15:31] anuveyatsu commented on #388
Mostly FIXED - closing this issue for now as after discussion with Sylvie we did not have more things to do. The screenshot of current look is below:

![image](https://cloud.githubusercontent.com/assets/17809581/25957887/1fe8f0c4-3691-11e7-8856-88b340580859.png)

[2017-05-11 15:31] #388 closed

[2017-05-12 06:33] rufuspollock opened #400 "DataHub migration planning [wip]"
DataHub migration planning

* blog.datahub.io
* docs.datahub.io (does not exist)
* datahub.io -> old.datahub.io (?)

## Acceptance Criteria

* [ ] DataHub migrated

## Tasks

* [ ] ...
* [ ] ...

## Analysis

[2017-05-12 07:40] anuveyatsu commented on #382
FIXED in https://github.com/frictionlessdata/dpr-api/pull/399

[2017-05-12 07:40] #382 closed

[2017-05-12 08:03] zelima opened #401 "Move logic from models into logic layer"
Currently we are using static methods in models for creating / getting / updated / deleting stuff from db (models). We need this to be moved into logic layer where it belongs and keep models as simple as possible

## Acceptance Criteria

* [x] No logic in models
* [x] logic layer is organized and easily understandable

## Tasks

* [x] move/update tests for static methods of models in the logic tes

[2017-05-12 09:16] anuveyatsu opened #402 "Analytics"
*User stories:*

## Acceptance Criteria

* [ ] ...
* [ ] ...

## Tasks

* [ ] ...
* [ ] ...

## Analysis

[2017-05-12 09:39] anuveyatsu opened #403 "Track downloads of data package resources"
Download button pushes to google analytics (with irakli) => we are at least recording even if not showing

## Acceptance Criteria

* [ ] We have stats for each resource downloads in GA

## Tasks

* [x] setup GA
* [x] onclick events for download buttons (see analysis)

## Analysis

Useful link: https://support.google.com/analytics/answer/1136920?hl=en

Script to be included on Showcase page:

[code

[2017-05-12 09:47] anuveyatsu opened #404 "Import GA stats into our database"
Short description of bug or feature need. [Can have user story if an epic]

## Acceptance Criteria

* [ ] ...
* [ ] ...

## Tasks

*Task list for a non-epic issue*

* [ ] ...
* [ ] ...

*For Epic: this task list should be a list of subissues (occassionally allow some non sub-issue items)*

* [ ] Create Search API #{link to subissue}
* [ ] Tidy up CSS <-- no subissue for this one because it is so s

[2017-05-13 07:07] anuveyatsu opened #407 "Show download and page views stats in the UI"
As soon as we have dp download and page view stats in our database, we want to show numbers for publishers and users.

## Acceptance Criteria

* [ ] On Showcase Page:
  * [ ] I can see total number of downloads
  * [ ] I can see number of downloads for the last week
  * [ ] I can see total number of downloads for individual resource
* [ ] On package summary (this includes front, search and publish

[2017-05-15 05:22] anuveyatsu commented on #403
FIXED but we need to double check with GA dashboard later.

[2017-05-15 05:22] #403 closed

[2017-05-15 10:15] zelima commented on #401
FIXED

[2017-05-15 10:15] #401 closed

[2017-05-15 12:45] rufuspollock commented on #331
Just updated the description with clearer plan and acceptance criteria (including suggestions for upstream work and normalization library).

[2017-05-22 09:12] zelima commented on #376
FIXED

[2017-05-22 09:12] #376 closed

[2017-05-23 11:51] anuveyatsu opened #410 "Create example Data Packages for data transforms"
Recently, we have added a feature to transform data before rendering on the showcase page. We want to have example Data Package for each transform we are supporting + one with combined (several transforms for one dataset) transforms.

## Acceptance Criteria

* [x] example data packages for each transform with clear instructions on the live site

## Tasks

* [x] example for filter
* [x] example for

[2017-05-23 11:52] anuveyatsu commented on #346
Closing for now as the most part is implemented. We will create example data packages in #410

[2017-05-23 11:52] #346 closed

[2017-05-23 12:11] Mikanebu commented on #331
FIXED:

All core data packages published.
There are 6 data packages that has validation error in front end.
You can find them in the following spreadsheet in blue:
https://docs.google.com/spreadsheets/d/14kJluhePaMOx6vYBic0poVjDYK3I8-v_xF3sv4Focac/edit#gid=0

[2017-05-23 18:31] zelima opened #411 "Refactor Package model to have descriptor and readme"
Currently we are getting README and datapackage.json for package from `PackageTag` table. We have OneToMany relationship between `Package` and `PackageTag` tables. We need them to get it directly from Package table

## Acceptance Criteria

* [x] Able to retrieve metadata for package with simple query on only Package table
* [x] New tests for models

## Tasks

*Task list for a non-epic issue*

* [x

[2017-05-24 08:52] rufuspollock commented on #411
@zelima I don't think we want a PackageTag for current (latest). Tags are versions that are explicitly created (see the user stories).

Whenever we tag (with whatever tag name) we create/update the PackageTag with current state and copy in BitStore too. (note: strictly we could even leave most info e.g. readme, descriptor off PackageTag since we have it in the BitStore - have in the DB is just cac

[2017-05-26 08:01] zelima commented on #411
@rufuspollock this confused me a little bit.

- So unless tag is explicitly set we are not touching `PackageTag` at all?  all the inf goes into `Package` table correct?
- Are not we actually tagging with `latest` behind the scenes? should we get rid of this action?
- I'm loosing the sense of why do we need `PackageTag` table at all

[2017-05-27 14:44] anuveyatsu opened #412 "Refactor response for getting metadata API"
Following API requires improvements into its response: "`/api/package/{publisher}/{package}` -
DPR meta-data get operation". There is a typo in `datapackag_url` but we also want to rename it. Also we want to remove `views` property from the top level as it is already in descriptor.

http://staging.datapackaged.com/api/package/core/finance-vix

## Acceptance Criteria

* [x] response has `bitstore_u

[2017-05-29 05:48] rufuspollock commented on #411
Yes

Yes, I'd get rid of this. "latest" is not a tag really. Think of git(hub) - "master" HEAD is not a tag - tags are things you have explicitly created.

How do you create tags? Read the user story again re tags: they are like git tags - a way to label (and make a copy) of the data package at a given point. We need somewhere to store that info.

BTW: it sounds like adding documentation about Tag

[2017-05-29 07:20] anuveyatsu commented on #410
FIXED but still some work remains here https://github.com/frictionlessdata/datapackage-render-js/issues/36

Example packages:
Filter and Formula: https://staging.datapackaged.com/examples/transform-examples-on-co2-fossil-global
Aggregation: https://staging.datapackaged.com/examples/transform-example-gdp-uk
Sample: https://staging.datapackaged.com/examples/example-sample-transform-on-currency-codes

[2017-05-29 07:20] #410 closed

[2017-05-29 11:18] zelima commented on #412
Currently dpm publish does not work - throws 500 as we need to change upload URL from `.../lates/datapackage.json` to `.../latest`

[2017-05-29 11:41] zelima commented on #412
FIXED. if relative path to file ends with datapackage.json it is replaced with empty string (`''`)

[2017-06-03 09:29] rufuspollock commented on #331
@Mikanebu can you please provide a summary here re:

[2017-06-03 10:01] rufuspollock commented on #282
DUPLICATE / FIXED. Did a bunch of work in #363 #369

[2017-06-03 10:01] #282 closed

[2017-06-03 10:04] rufuspollock commented on #332
DUPLICATE / FIXED. #363 #368 #381

[2017-06-03 10:04] #332 closed

[2017-06-03 10:04] rufuspollock commented on #281
DUPLICATE / FIXED. #363 #368 #381

[2017-06-03 10:04] #281 closed

[2017-06-03 10:42] anuveyatsu opened #415 "Need titles for views"
We need titles for table views - use view's title. At the moment we don't have any titles there. This issue will be fixed in `dpr-js` and `datapackage-render-js` libraries.

## Acceptance Criteria

* [ ] when I arrive at the showcase page I am clear about each view

## Tasks

* [x] https://github.com/frictionlessdata/dpr-js/issues/162
* [x] https://github.com/frictionlessdata/datapackage-render-js

[2017-06-03 10:44] anuveyatsu opened #416 "Show the views JSON next to the view"
We want to have sort of button next to the view so users can click and jump to see JSON for building that view.

## Acceptance Criteria

* [ ] when I arrive at showcase page I want to easily find how views are built.

## Tasks

* [ ] TODO

[2017-06-07 11:19] Mikanebu commented on #331
I wrote a summary for broken core data packages.
https://docs.google.com/a/datopian.com/document/d/1lhbko7AFiLQ2khdW0l7fh-n-sMVyr0MPvD3LSXXfUB4/edit?usp=sharing

[2017-06-07 16:53] Mikanebu opened #418 "Core data packages failed validation in the frontend"
Some core data packages failed validation in the frontend. Preview is not working in showcase page

## Acceptance Criteria

* [ ] Preview in showcase page works fine
* [ ] Validation passes in the frontend

## Tasks

* [ ] Fix packages in the upstream where it can be fixable
* [ ] Analyse data packages validation in the dpr-js for string type

## Analysis

    Analysed 57 core data packaged which

[2017-06-08 11:38] zelima commented on #411
FIXED. tags are explicitly created. Metadata is saved into Package table

[2017-06-08 11:38] #411 closed

[2017-06-09 10:14] rufuspollock commented on #331
@Mikanebu can you please convert this to a hackmd markdown document please :-)

[2017-06-09 10:21] Mikanebu commented on #331
@rufuspollock sure, working on it

[2017-06-09 10:29] Mikanebu commented on #331
@rufuspollock https://hackmd.io/EYM2AZwEwNgFgLQFMQFZgLnAjATgRMFAgBxIkwwDM2IAhgMZ25A=

[2017-06-21 05:54] anuveyatsu commented on #412
This issue was misunderstood:

* [x] we still want to have actual `datapackage.json` on `.../_v/latest/datapackage.json`
* [x] refactor DPR js appropriatelly

At the moment, we are not getting `datapackage.json` from above uri, which is crucial for our service to operate.

[2017-06-21 15:25] anuveyatsu commented on #331
FIXED

[2017-06-21 15:25] #331 closed

[2017-06-21 16:12] zelima opened #419 "Update production database structure(s)"
We have modified database structure for getting datapackage.json and README in #411. Live staging and production databases on RDS needs to be updated as well.

## Acceptance Criteria

* [ ] DB structure is updated
* [ ] All packages are still published

## Tasks

* [ ] re-created db with `manager.py` on RDS for staging and production [0.25]
* [ ] re-publish core packages [0.25]
* [ ] re-publish ex

[2017-06-21 19:43] zelima commented on #415
FIXED

[2017-06-22 08:19] zelima opened #420 "Get login button back in navbar"
We need login button in navbar back

## Acceptance Criteria

* [ ] User is able to login with github account

## Tasks

* [x] comment out the part for login button from codebase
* [x] Test (try and actually sign up)

[2017-06-22 09:25] zelima opened #422 "Bug in login redirect URL over http"
Github only allows one redirect URL so the user is not able to login if tries to log in from  http://datapackaged.com cause callback URL will mismatch

[2017-06-22 09:48] anuveyatsu opened #423 "Rework of Showcase page"
Showcase page rework for 29th of June launch.

## Acceptance Criteria

* [ ] new showcase page redesigned

## Tasks

* [ ] mockup by Sylvie
* [ ] implementation

[2017-06-23 06:48] zelima commented on #420
FIXED works if logged in from https. Further discussions in #422

[2017-06-23 06:48] #420 closed

[2017-06-24 06:43] zelima commented on #412
FIXED

[2017-06-24 06:43] #412 closed

[2017-06-24 06:44] zelima commented on #419
FIXED